<!--

This file is included by _layout/default.html, and it contains
the contents of the <head> tag for the HTML file.

-->

<!-- vim: set ts=3: -->

<title>Verovio Humdrum Viewer </title>
<meta charset="UTF-8">

{% include head/bootstrap.html  %}
{% include head/filesaver.html  %}
{% include head/basket.html     %}
{% include head/ace-editor.html %}
{% include head/scripts.html    %}
{% include head/pdfkit.html     %}
{% include head/styles.html     %}

<!--
Use fontawesome version 4 which is better for SVG insertion:
<link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
-->
<link href="/styles/fontawesome/all.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/fontawesome/font-awesome.min.css">


