

<script src="/scripts/basket-session.js"></script>
<script src="/scripts/listeners.js"></script>
<script src="/scripts/drop.js"></script>
<script src="/scripts/verovio-calls.js"></script>
<script src="/scripts/verovio-interface.js"></script>
<script src="/scripts/hmdindex.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/editor.js"></script>
<script src="/scripts/timemap.js"></script>
<script src="/scripts/midifunctions.js"></script>
<script src="/scripts/aton.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>


<script type="text/x-aton" id="aton-menu-data">
{% include menu/menu.aton %}
</script>
