
<script src="/scripts/basket-session.js"></script>
<script src="/scripts/drop.js"></script>

{% if site.local == 'true' %}
	<script src="/scripts/local/humdrum-notation-plugin-worker.js"></script>
{% else %}
	<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>
{% endif %}

<script src="/scripts/main.js"></script>
<script src="/scripts/midifunctions.js"></script>
<script src="/scripts/aton.js"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
-->
<script src="/scripts/handlebars.min.js"></script>


<script type="text/x-aton" id="aton-menu-data">
{% include menu/content/menu.aton %}
</script>



