
<script src="/scripts/basket-session.js"></script>
<script src="/scripts/drop.js"></script>

<script src="https://plugin.humdrum.org/scripts/humdrum-notation-plugin-worker.js"></script>
<!--
<script src="https://verovio-script.humdrum.org/scripts/verovio-worker.js"></script>
-->
<!--
<src="/scripts/verovio-calls.js"></>
<src="/scripts/verovio-interface.js"></>
-->

<script src="/scripts/main.js"></script>
<script src="/scripts/midifunctions.js"></script>
<script src="/scripts/aton.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>


<script type="text/x-aton" id="aton-menu-data">
{% include menu/content/menu.aton %}
</script>
