---
permalink: /index.html
---
<html>
<head>
<!-- vim: set ts=3: -->
<title>Verovio Humdrum Viewer </title>
<meta charset="UTF-8">

<script src="scripts/FileSaver.js"></script>

{% if site.local == "yes" %}
	<script src="scripts/local/basket.full.min.js"></script>
	<script src="scripts/local/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/basket.js/0.5.2/basket.full.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
{% endif %}


{% if site.local == "yes" %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js">/script>
{% else %}
	<script src="scripts/local/ace.js" type="text/javascript" charset="utf-8"></script>
{% endif %}


<!-- preload ace modes to prevent visual glitch on first alt-m -->
<script src="scripts/ace/mode-xml.js"></script>
<script src="scripts/ace/mode-humdrum.js"></script>

<script src="scripts/basket-session.js"></script>
<script src="scripts/listeners.js"></script>
<script src="scripts/drop.js"></script>
<script src="scripts/verovio-calls.js"></script>
<script src="scripts/verovio-interface.js"></script>
<script src="scripts/hmdindex.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/editor.js"></script>
<script src="scripts/timemap.js"></script>

<script src="scripts/midiplayer.js"></script>

<!-- downloaded by basket:
<script src="scripts/midiplayer/wildwebmidi.js"></script>
<script src="scripts/midiplayer/midiplayer.js"></script>
-->

{% if site.local == "yes" %}
	<script src="/scripts/local/bootstrap.min.js"></script>
{% else %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endif %}

{% include pdfkit.html %}

<link rel="stylesheet" href="styles/w3.css"/>
<link rel="stylesheet" href="styles/styles.css"/>
<link rel="stylesheet" href="styles/midiplayer.css"/>
<link rel="stylesheet" href="styles/stdtheme.css"/>
{% if site.local == "yes" %}
	<link rel="stylesheet href="styles/local/bootstrap.min.css"/>
{% else %}
	<link rel="stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
{% endif %}
</head>
<body>


<div class="w3-navbar w3-card-2 w3-slim topnav" id="topnav" style="position: fixed; top: 0px;">
	<div style="overflow:auto;">
		<div style="float:left; overflow:hidden;height:44px">
<table id="header-table">
	<tr>
	<td>
		<h1 id="vhv">Verovio Humdrum Viewer </h1>
	</td>
	<td width="100%">
		<span id="title-info">
			<span id="composer"></span>&nbsp;<span id="title"></span>
		</span>
	</td>

	<td style="width:100%;">
		<span id="search-help" onclick="toggleHelpMenu();"
			class="info" data-hasqtip="1" aria-describedby="qtip-1">help</span>
	</td>


	<td>
		<div xmlns="http://www.w3.org/1999/xhtml" class="btn-group">
        		<button id="play-button" onclick="playCurrentMidi();" class="btn btn-sm btn-default" type="button"
				style="background:#ccc; position:absolute; right:10; top:10; ">
            			Play
        		</button>
		</div>

		<div xmlns="http://www.w3.org/1999/xhtml" id="player"
			style="z-index: 1; position: absolute; right:4; top:4; display: none;">
		</div>
	</td>
	</tr>
</table>
		</div>
	</div>
</div>

<div id="input" style="width:400px;">!!!COM: Mozart, Wolfgang Amadeus
!!!CDT: 1756/01/27/-1791/12/05/
!!!CNT: German
!!!OTL: Piano Sonata No. 11 in A major
!!!SCT1: K<sup>1</sup> 331
!!!SCT2: K<sup>6</sup> 300i
!!!OMV: 3
!!!OMD: Alla Turca: Allegretto
!!!ODT: 1778-1873///
**kern	**kern	**dynam
*staff2	*staff1	*staff1/2
*>[A,A,B,B,C,C,D,D,E,E,F,F,G,G,H,H,I,I1,I,I2,J]	*>[A,A,B,B,C,C,D,D,E,E,F,F,G,G,H,H,I,I1,I,I2,J]	*>[A,A,B,B,C,C,D,D,E,E,F,F,G,G,H,H,I,I1,I,I2,J]
*>norep[A,B,C,D,E,F,G,H,I,I2,J]	*>norep[A,B,C,D,E,F,G,H,I,I2,J]	*>norep[A,B,C,D,E,F,G,H,I,I2,J]
*>A	*>A	*>A
*clefF4	*clefG2	*clefG2
*k[]	*k[]	*k[]
*a:	*a:	*a:
*M2/4	*M2/4	*M2/4
*MM112	*MM112	*MM112
4r	(16bLL	p
.	16a	.
.	16g#	.
.	16aJJ	.
=1	=1	=1
(8AL	8cc)	.
8c 8e)	8r	.
8c' 8e'	(16ddLL	.
.	16cc	.
8c' 8e'J	16b	.
.	16ccJJ	.
=2	=2	=2
(8AL	8ee)	.
8c' 8e')	8r	.
8c' 8e'	(16ffLL	.
.	16ee	.
8c' 8e'J	16dd#	.
.	16eeJJ	.
=3	=3	=3
8A'L	16bbLL	.
.	16aa	.
8c' 8e'	16gg#	.
.	16aaJJ	.
8A'	16bbLL	.
.	16aa	.
8c' 8e'J	16gg#	.
.	16aaJJ	.
=4	=4	=4
(8AL	4ccc)	.
8c' 8e')	.	.
8c 8e	8aa'L	.
8c' 8e'J	8ccc'J	.
=5	=5	=5
.	(32ggnqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8B' 8e'	8ee' 8gg'	.
8B' 8e'J	8ff#' 8aa'J	.
=6	=6	=6
.	(32ggqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8B' 8e'	8ee' 8gg'	.
8B' 8e'J	8ff#' 8aa'J	.
=7	=7	=7
.	(32ggqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8BB'	8ee' 8gg'	.
8B'J	8dd#' 8ff#'J	.
=8	=8	=8
4E	4ee	.
=:|!|:	=:|!|:	=:|!|:
*>B	*>B	*>B
4r	8cc' 8ee'L	.
.	8ddn' 8ffn'J	.
=9	=9	=9
8C'L	8ee 8ggL	.
8c'	8ee 8ggJ	.
8E'	(16aaLL	.
.	16gg	.
8e'J	16ff	.
.	16eeJJ)	.
=10	=10	=10
*	*^	*
4G	4dd	(8bL	.
.	.	8gJ)	.
4r	4ryy	8cc' 8ee'L	.
.	.	8dd' 8ff'J	.
*	*v	*v	*
=11	=11	=11
8C'L	8ee' 8gg'L	.
8c'	8ee' 8gg'J	.
8E'	(16aaLL	.
.	16gg	.
8e'J	16ff	.
.	16eeJJ)	.
=12	=12	=12
4G	4b 4dd	.
4r	8a' 8cc'L	.
.	8b' 8dd'J	.
=13	=13	=13
8AA'L	8cc' 8ee'L	.
8A'	8cc' 8ee'J	.
8C'	(16ffLL	.
.	16ee	.
8c'J	16dd	.
.	16ccJJ)	.
=14	=14	=14
*	*^	*
4E	4b	(8g#L	.
.	.	8eJ)	.
4r	4ryy	8a' 8cc'L	.
.	.	8b' 8dd'J	.
*	*v	*v	*
=15	=15	=15
8AAL	8cc' 8ee'L	.
8A'	8cc' 8ee'J	.
8C'	(16ffLL	.
.	16ee	.
8c'J	16dd	.
.	16ccJJ)	.
=16	=16	=16
4E	4g# 4b	.
4r	(16bLL	.
.	16a	.
.	16g#	.
.	16aJJ	.
=17	=17	=17
(8AL	8cc)	.
8c 8e)	8r	.
8c' 8e'	(16ddLL	.
.	16cc	.
8c' 8e'J	16b	.
.	16ccJJ	.
=18	=18	=18
(8AL	8ee)	.
8c 8e)	8r	.
8c' 8e'	(16ffLL	.
.	16ee	.
8c' 8e'J	16dd#	.
.	16eeJJ	.
=19	=19	=19
8A'L	16bbLL	<
.	16aa	.
8c' 8e'	16gg#	.
.	16aaJJ	.
8A'	16bbLL	.
.	16aa	.
8c' 8e'J	16gg#	.
.	16aaJJ	.
=20	=20	=20
(8FL	4ccc)	sfp
8A 8d#)	.	.
8A' 8d#'	8aa'L	.
8A' 8d#'J	8bb'J	.
=21	=21	=21
8E'L	8ccc'L	.
8A' 8e'	8bb'	.
8Dn'	8aa'	.
8F' 8B'J	8gg#'J	.
=22	=22	=22
8C'L	8aa'L	.
8E' 8A'	8ee'	.
8D'	8ff'	.
8F' 8B'J	8dd'J	.
=23	=23	=23
8E' 8A'L	4cc	.
8E' 8A'	.	.
8E' 8G#'	(8.btL	.
8E' 8G#'J	.	.
.	32aLL	.
.	32bJJJ	.
=24	=24	=24
4AA 4A	4a)	.
=:|!	=:|!	=:|!
*>C	*>C	*>C
*k[f#c#g#]	*k[f#c#g#]	*k[f#c#g#]
=	=	=
4r	8a 8aaL	f
.	8b 8bbJ	.
=25	=25	=25
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4cc# 4ccc#	.
8A	.	.
8A	8a 8aaL	.
8AJ	8b 8bbJ	.
=26	=26	=26
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8cc# 8ccc#L	.
8A	8b 8bb	.
8A	8a 8aa	.
8AJ	8g# 8gg#J	.
=27	=27	=27
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	8f# 8ff#L	.
8DJ	8g# 8gg#	.
(>32DD#qLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8D#L)	8a 8aa	.
8D#J	8b 8bbJ	.
=28	=28	=28
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	8g# 8gg#L	.
8E	8e 8ee	.
8E	8a 8aa	.
8EJ	8b 8bbJ	.
=29	=29	=29
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4cc# 4ccc#	.
8A	.	.
8A	8a 8aaL	.
8AJ	8b 8bbJ	.
=30	=30	=30
(>32AA/qLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8cc# 8ccc#L	.
8A	8b 8bb	.
8A	8a 8aa	.
8AJ	8g# 8gg#J	.
=31	=31	=31
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	8f# 8ff#L	.
8DJ	8b 8bb	.
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	8g# 8gg#	.
8EJ	8e 8eeJ	.
=32	=32	=32
4AA	4a 4aa	.
=:|!|:	=:|!|:	=:|!|:
*>D	*>D	*>D
!	!LO:TX:i:t=legato	!
4r	16ccc#LL	p
.	16ddd	.
.	16ccc#	.
.	16bbJJ	.
=33	=33	=33
8F#L	16aaLL	.
.	16bb	.
8A 8c#	16aa	.
.	16gg#JJ	.
8A 8c#	16ff#LL	.
.	16aa	.
8A 8c#J	16gg#	.
.	16ff#JJ	.
=34	=34	=34
8G#L	16ee#LL	.
.	16ff#	.
8B 8c#	16gg#	.
.	16ee#JJ	.
8B 8c#	16cc#LL	.
.	16dd#	.
8B 8c#J	16ee#	.
.	16cc#JJ	.
=35	=35	=35
8F#L	16ff#LL	.
.	16ee#	.
8A 8c#	16ff#	.
.	16gg#JJ	.
8A 8c#	16aaLL	.
.	16gg#	.
8A 8c#J	16aa	.
.	16bbJJ	.
=36	=36	=36
8E#L	16ccc#LL	.
.	16bb#	.
8G# 8c#	16ccc#	.
.	16bb#JJ	.
8G# 8c#	16ccc#LL	.
.	16ddd	.
8G# 8c#J	16ccc#	.
.	16bbnJJ	.
=37	=37	=37
8F#L	16aaLL	.
.	16bb	.
8A 8c#	16aa	.
.	16gg#JJ	.
8A 8c#	16ff#LL	.
.	16aa	.
8A 8c#J	16gg#	.
.	16ff#JJ	.
=38	=38	=38
8G#L	16eenLL	.
.	16ff#	.
8c# 8en	16gg#	.
.	16eeJJ	.
8c# 8e	16cc#LL	.
.	16dd#	.
8c# 8eJ	16ee	.
.	16cc#JJ	.
=39	=39	=39
8G#L	16dd#LL	.
.	16ee	.
8d# 8f#	16ff#	.
.	16dd#JJ	.
8d# 8f#	16b#LL	.
.	16cc#	.
8d# 8f#J	16dd#	.
.	16b#JJ	.
=40	=40	=40
4c# 4e	4cc#	.
=:|!|:	=:|!|:	=:|!|:
*>E	*>E	*>E
4r	16eeLL	f
!	!LO:TX:i:t=legato	!
.	16ddn	.
.	16cc#	.
.	16bnJJ	.
=41	=41	=41
8AL	16aLL	.
.	16b	.
8c# 8e	16cc#	.
.	16ddJJ	.
8c# 8e	16eeLL	.
.	16ff#	.
8c# 8eJ	16gg#	.
.	16aaJJ	.
=42	=42	=42
8BL	16aaLL	.
.	16gg#	.
8d 8e	16ff#	.
.	16eeJJ	.
8G#	16eeLL	.
.	16dd	.
8d 8eJ	16cc#	.
.	16bJJ	.
=43	=43	=43
8AL	16aLL	.
.	16b	.
8c# 8e	16cc#	.
.	16ddJJ	.
8c# 8e	16eeLL	.
.	16ff#	.
8c# 8eJ	16gg#	.
.	16aaJJ	.
=44	=44	=44
8EL	8aa#L	.
8G# 8d	8bbJ	.
8G# 8d	16eeLL	.
.	16dd	.
8G# 8dJ	16cc#	.
.	16bJJ	.
=45	=45	=45
8AL	16aLL	.
.	16b	.
8c# 8e	16cc#	.
.	16ddJJ	.
8c# 8e	16eeLL	.
.	16ff#	.
8c# 8eJ	16gg#	.
.	16aaJJ	.
=46	=46	=46
8BL	16aaLL	.
.	16gg#	.
8d 8e	16ff#	.
.	16eeJJ	.
8G#	16eeLL	.
.	16dd	.
8d 8eJ	16cc#	.
.	16bJJ	.
=47	=47	=47
8AL	16cc#LL	.
.	16ee	.
8F#	16a	.
.	16cc#JJ	.
8D	16bLL	.
.	16dd	.
8EJ	16g#	.
.	16bJJ	.
=48	=48	=48
8AAL	4a	.
8AJ	.	.
4r	16ccc#LL	p
.	16ddd	.
.	16ccc#	.
.	16bbJJ	.
=49	=49	=49
8F#L	16aaLL	.
.	16bb	.
8A 8c#	16aa	.
.	16gg#JJ	.
8A 8c#	16ff#LL	.
.	16aa	.
8A 8c#J	16gg#	.
.	16ff#JJ	.
=50	=50	=50
8G#L	16ee#LL	.
.	16ff#	.
8B 8c#	16gg#	.
.	16ee#JJ	.
8B 8c#	16cc#LL	.
.	16dd#	.
8B 8c#J	16ee#	.
.	16cc#JJ	.
=51	=51	=51
8F#L	16ff#LL	.
.	16ee#	.
8A 8c#	16ff#	.
.	16gg#JJ	.
8A 8c#	16aaLL	.
.	16gg#	.
8A 8c#J	16aa	.
.	16bbJJ	.
=52	=52	=52
8C#L	16ccc#LL	.
.	16bb#	.
8G# 8c#	16ccc#	.
.	16bb#JJ	.
8Gn 8c#	16ccc#LL	.
.	16bb#	.
8F# 8c#J	16ccc#	.
.	16aa#JJ	.
=53	=53	=53
8BBL	16dddLL	.
.	16ccc#	.
8F# 8B	16ddd	.
.	16ccc#JJ	.
8F# 8B	16dddLL	.
.	16ccc#	.
8F# 8BJ	16ddd	.
.	16ccc#JJ	.
=54	=54	=54
8BBL	16dddLL	.
.	16ccc#	.
8G#X 8B	16bb	.
.	16aaJJ	.
8G# 8B	16gg#LL	.
.	16aa	.
8G# 8BJ	16bb	.
.	16gg#JJ	.
=55	=55	=55
8C#L	16aaLL	.
.	16bb	.
8F# 8A	16ccc#	.
.	16ff#JJ	.
8C#	16ee#LL	.
.	16ff#	.
8G# 8BJ	16gg#	.
.	16ee#JJ	.
=56	=56	=56
4F# 4A	4ff#	.
=!|:	=!|:	=!|:
*>F	*>F	*>F
4r	8a 8aaL	f
.	8b 8bbJ	.
=57	=57	=57
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4cc# 4ccc#	.
8A	.	.
8A	8a 8aaL	.
8AJ	8b 8bbJ	.
=58	=58	=58
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8cc# 8ccc#L	.
8A	8b 8bb	.
8A	8a 8aa	.
8AJ	8g# 8gg#J	.
=59	=59	=59
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	8f# 8ff#L	.
8DJ	8g# 8gg#	.
(>32DD#qLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8D#L)	8a 8aa	.
8D#J	8b 8bbJ	.
=60	=60	=60
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	8g# 8gg#L	.
8E	8e 8ee	.
8E	8a 8aa	.
8EJ	8b 8bbJ	.
=61	=61	=61
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4cc# 4ccc#	.
8A	.	.
8A	8a 8aaL	.
8AJ	8b 8bbJ	.
=62	=62	=62
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8cc# 8ccc#L	.
8A	8b 8bb	.
8A	8a 8aa	.
8AJ	8g# 8gg#J	.
=63	=63	=63
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	8f# 8ff#L	.
8DJ	8b 8bb	.
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	8g# 8gg#	.
8EJ	8e 8eeJ	.
=64	=64	=64
4AA	4a 4aa	.
=:|!|:	=:|!|:	=:|!|:
*>G	*>G	*>G
*k[]	*k[]	*k[]
4r	(16bLL	p
.	16a	.
.	16g#	.
.	16aJJ	.
=65	=65	=65
(8AL	8cc)	.
8c' 8e')	8r	.
8c' 8e'	(16ddLL	.
.	16cc	.
8c' 8e'J	16b	.
.	16ccJJ	.
=66	=66	=66
(8AL	8ee)	.
8c 8e)	8r	.
8c' 8e'	(16ffLL	.
.	16ee	.
8c' 8e'J	16dd#	.
.	16eeJJ	.
=67	=67	=67
8A'L	16bbLL	.
.	16aa	.
8c' 8e'	16gg#	.
.	16aaJJ	.
8A'	16bbLL	.
.	16aa	.
8c' 8e'J	16gg#	.
.	16aaJJ	.
=68	=68	=68
(8AL	4ccc)	.
8c 8e)	.	.
8c 8e	8aa'L	.
8c' 8e'J	8ccc'J	.
=69	=69	=69
.	(32ggnqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8B' 8e'	8ee' 8gg'	.
8B' 8e'J	8ff#' 8aa'J	.
=70	=70	=70
.	(32ggqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8B' 8e'	8ee' 8gg'	.
8B' 8e'J	8ff#' 8aa'J	.
=71	=71	=71
.	(32ggqLLL	.
.	32aaqJJJ	.
8E'L	8bb'L)	.
8B' 8e'	8ff#' 8aa'	.
8BB'	8ee' 8gg'	.
8B'J	8dd#' 8ff#'J	.
=72	=72	=72
4E	4ee	.
=:|!|:	=:|!|:	=:|!|:
*>H	*>H	*>H
4r	8cc' 8ee'L	.
.	8ddn' 8ffn'J	.
=73	=73	=73
8C'L	8ee' 8gg'L	.
8c'	8ee' 8gg'J	.
8E'	(16aaLL	.
.	16gg	.
8e'J	16ff	.
.	16eeJJ)	.
=74	=74	=74
*	*^	*
4G	4dd	(8bL	.
.	.	8gJ)	.
4r	4ryy	8cc' 8ee'L	.
.	.	8dd' 8ff'J	.
*	*v	*v	*
=75	=75	=75
8C'L	8ee' 8gg'L	.
8c'	8ee' 8gg'J	.
8E'	(16aaLL	.
.	16gg	.
8e'J	16ff	.
.	16eeJJ)	.
=76	=76	=76
4G	4b 4dd	.
4r	8a' 8cc'L	.
.	8b' 8dd'J	.
=77	=77	=77
8AA'L	8cc' 8ee'L	.
8A'	8cc' 8ee'J	.
8C'	(16ffLL	.
.	16ee	.
8c'J	16dd	.
.	16ccJJ)	.
=78	=78	=78
*	*^	*
4E	4b	(8g#L	.
.	.	8eJ)	.
4r	4ryy	8a' 8cc'L	.
.	.	8b' 8dd'J	.
*	*v	*v	*
=79	=79	=79
8AA'L	8cc' 8ee'L	.
8A'	8cc' 8ee'J	.
8C'	(16ffLL	.
.	16ee	.
8c'J	16dd	.
.	16ccJJ)	.
=80	=80	=80
4E	4g# 4b	.
4r	(16bLL	.
.	16a	.
.	16g#	.
.	16aJJ	.
=81	=81	=81
(8AL	8cc)	.
8c 8e)	8r	.
8c' 8e'	(16ddLL	.
.	16cc	.
8c' 8e'J	16b	.
.	16ccJJ	.
=82	=82	=82
(8AL	8ee)	.
8c 8e)	8r	.
8c' 8e'	(16ffLL	.
.	16ee	.
8c' 8e'J	16dd#	.
.	16eeJJ	.
=83	=83	=83
8A'L	16bbLL	<
.	16aa	.
8c' 8e'	16gg#	.
.	16aaJJ	.
8A'	16bbLL	.
.	16aa	.
8c' 8e'J	16gg#	.
.	16aaJJ	.
=84	=84	=84
(8FL	4ccc)	sfp
8A 8d#)	.	.
8A' 8d#'	8aa'L	.
8A' 8d#'J	8bb'J	.
=85	=85	=85
8E'L	8ccc'L	.
8A' 8e'	8bb'	.
8Dn'	8aa'	.
8F' 8B'J	8gg#'J	.
=86	=86	=86
8C'L	8aa'L	.
8E' 8A'	8ee'	.
8D'	8ff'	.
8F' 8B'J	8dd'J	.
=87	=87	=87
8E' 8A'L	4cc	.
8E' 8A'	.	.
8E' 8G#'	(8.btL	.
8E' 8G#'J	.	.
.	32aLL	.
.	32bJJJ	.
=88	=88	=88
4AA 4A	4a)	.
=:|!	=:|!	=:|!
*>I	*>I	*>I
*k[f#c#g#]	*k[f#c#g#]	*k[f#c#g#]
=	=	=
4r	(16aLL	f
.	16aa	.
.	16b	.
.	16bbJJ	.
=89	=89	=89
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	16cc#LL	.
.	16ccc#JJ)	.
8A	8r	.
8A	(16aLL	.
.	16aa	.
8AJ	16b	.
.	16bbJJ	.
=90	=90	=90
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	16cc#LL	.
.	16ccc#	.
8A	16b	.
.	16bbJJ	.
8A	16aLL	.
.	16aa	.
8AJ	16g#	.
.	16gg#JJ	.
=91	=91	=91
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	16f#LL	.
.	16ff#	.
8DJ	16g#	.
.	16gg#JJ	.
(>32DD#qLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8D#L)	16aLL	.
.	16aa	.
8D#J	16b	.
.	16bbJJ	.
=92	=92	=92
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	16g#LL	.
.	16gg#	.
8E	16e	.
.	16eeJJ)	.
8E	(16aLL	.
.	16aa	.
8EJ	16b	.
.	16bbJJ	.
=93	=93	=93
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	16cc#LL	.
.	16ccc#JJ)	.
8A	8r	.
8A	(16aLL	.
.	16aa	.
8AJ	16b	.
.	16bbJJ	.
=94	=94	=94
32AAqLLL	.	.
(>32C#q	.	.
32EqJJJ	.	.
8AL)	16cc#LL	.
.	16ccc#	.
8A	16b	.
.	16bbJJ	.
8A	16aLL	.
.	16aa	.
8AJ	16g#	.
.	16gg#JJ	.
=95	=95	=95
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	16f#LL	.
.	16ff#	.
8DJ	16b	.
.	16bbJJ	.
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
8EL)	16g#LL	.
.	16gg#	.
8EJ	16e	.
.	16eeJJ)	.
=96	=96	=96
*>I1	*>I1	*>I1
4AA	4a 4aa	.
=97:|!	=97:|!	=97:|!
*>I2	*>I2	*>I2
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
*	*^	*
8AL)	4ryy	4a 4aa	.
8A	.	.	.
8A	8.ccc#L	4cc#	.
8AJ	.	.	.
.	16ccc#Jk	.	.
*	*v	*v	*
=98	=98	=98
*>J	*>J	*>J
*	*^	*
(>32AAqLLL	.	.	.
32C#q	.	.	.
32EqJJJ	.	.	.
8AL)	2ccc#:	4cc#: 4ee: 4aa:	.
8A	.	.	.
8A	.	4ryy	.
8AJ	.	.	.
=99	=99	=99	=99
(>32AAqLLL	.	.	.
32C#q	.	.	.
32EqJJJ	.	.	.
8AL)	2ccc#:	4cc#: 4ee: 4aa:	.
8A	.	.	.
8A	.	4r	.
8AJ	.	.	.
*	*v	*v	*
=100	=100	=100
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	(16dddLL	.
.	16ccc#)	.
8A	16bb'	.
.	16ccc#'JJ	.
8A	(16dddLL	.
.	16ccc#)	.
8AJ	16bb'	.
.	16ccc#'JJ	.
=101	=101	=101
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	2ff# 2aa 2ddd	.
8D	.	.
8D	.	.
8DJ	.	.
=102	=102	=102
(>32AAqLLL	(<32dddqq	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8ee 8aa 8ccc#L)	.
.	(<32dddqq	.
8A	8ee 8aa 8ccc#)	.
.	(<32dddqq	.
8A	8ee 8aa 8ccc#)	.
.	(<32dddqq	.
8AJ	8ee 8aa 8ccc#J)	.
=103	=103	=103
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	.	.
*	*^	*
8EL)	(4.bb	2ee 2gg#	.
8E	.	.	.
8E	.	.	.
8EJ	8eee)	.	.
=104	=104	=104	=104
(>32AAqLLL	.	.	.
32C#q	.	.	.
32EqJJJ	.	.	.
8AL)	2ccc#:	4cc#: 4ee: 4aa:	.
8A	.	.	.
8A	.	4r	.
8AJ	.	.	.
=105	=105	=105	=105
(>32AA/qLLL	.	.	.
32C#q	.	.	.
32EqJJJ	.	.	.
8AL)	2ccc#:	4cc#: 4ee: 4aa:	.
8A	.	.	.
8A	.	4r	.
8AJ	.	.	.
*	*v	*v	*
=106	=106	=106
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	(16dddLL	.
.	16ccc#)	.
8A	16bb'	.
.	16ccc#'JJ	.
8A	(16dddLL	.
.	16ccc#)	.
8AJ	16bb'	.
.	16ccc#'JJ	.
=107	=107	=107
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	2ff# 2aa 2ddd	.
8D	.	.
8D	.	.
8DJ	.	.
=108	=108	=108
(>32AAqLLL	(<32dddqq	.
32C#q	.	.
32EqJJJ	.	.
8AL)	2ee 2aa 2ccc#)	.
8A	.	.
8A	.	.
8AJ	.	.
=109	=109	=109
32EEqLLL	(<32ccc#qq	.
32GG#q	.	.
32BBqJJJ	.	.
8EL	8ee 8gg# 8bbL)	.
.	(<32ccc#qq	.
8E	8ee 8gg# 8bb)	.
.	(<32ccc#qq	.
8E	8ee 8gg# 8bb)	.
.	(<32ccc#qq	.
8EJ	8ee 8gg# 8bbJ)	.
=110	=110	=110
16ALL	4aa	.
16e	.	.
16c#	.	.
16eJJ	.	.
.	(>32eeqLLL	.
.	32aaqJJJ	.
16ALL	8.ccc#L)	p
16e	.	.
16c#	.	.
16eJJ	16ccc#Jk	.
=111	=111	=111
.	(>32eeqLLL	.
.	32aaqJJJ	.
16ALL	2ccc#)	.
16e	.	.
16c#	.	.
16eJJ	.	.
16ALL	.	.
16e	.	.
16c#	.	.
16eJJ	.	.
=112	=112	=112
.	(>32eeqLLL	.
.	32aaqJJJ	.
16ALL	2ccc#)	.
16e	.	.
16c#	.	.
16eJJ	.	.
16ALL	.	.
16e	.	.
16c#	.	.
16eJJ	.	.
=113	=113	=113
16ALL	(16dddLL	.
16e	16ccc#)	.
16c#	16bb'	.
16eJJ	16ccc#'JJ	.
16ALL	(16dddLL	.
16e	16ccc#)	.
16c#	16bb'	.
16eJJ	16ccc#'JJ	.
=114	=114	=114
16ALL	2ddd	.
16f#	.	.
16d	.	.
16f#JJ	.	.
16ALL	.	.
16f#	.	.
16d	.	.
16f#JJ	.	.
=115	=115	=115
.	(32dddqq	.
16ALL	8ccc#L)	.
16e	.	.
.	(32dddqq	.
16c#	8ccc#)	.
16eJJ	.	.
.	(32dddqq	.
16ALL	8ccc#)	.
16e	.	.
.	(32dddqq	.
16c#	8ccc#J)	.
16eJJ	.	.
=116	=116	=116
16ELL	(4.bb	.
16e	.	.
16G#	.	.
16eJJ	.	.
16ELL	.	.
16e	.	.
16G#	8eee)	.
16eJJ	.	.
=117	=117	=117
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
*	*^	*
8AL)	2ccc#:	4cc#: 4ee: 4aa:	f
8A	.	.	.
8A	.	4ryy	.
8AJ	.	.	.
=118	=118	=118	=118
(>32AAqLLL	.	.	.
32C#q	.	.	.
32EqJJJ	.	.	.
8AL)	2ccc#:	4cc#: 4ee: 4aa:	.
8A	.	.	.
8A	.	4ryy	.
8AJ	.	.	.
*	*v	*v	*
=119	=119	=119
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	(16dddLL	.
.	16ccc#)	.
8A	16bb'	.
.	16ccc#'JJ	.
8A	(16dddLL	.
.	16ccc#)	.
8AJ	16bb'	.
.	16ccc#'JJ	.
=120	=120	=120
(>32DDqLLL	.	.
32FF#q	.	.
32AAqJJJ	.	.
8DL)	2ff# 2aa 2ddd	.
8D	.	.
8D	.	.
8DJ	.	.
=121	=121	=121
(>32AAqLLL	(<32dddqq	.
32C#q	.	.
32EqJJJ	.	.
8AL)	2ee 2aa 2ccc#)	.
8A	.	.
8A	.	.
8AJ	.	.
=122	=122	=122
(>32EEqLLL	.	.
32GG#q	.	.
32BBqJJJ	(<32ccc#qq	.
8EL)	8ee 8gg# 8bbL)	.
.	(<32ccc#qq	.
8E	8ee 8gg# 8bb)	.
.	(<32ccc#qq	.
8E	8ee 8gg# 8bb)	.
.	(<32ccc#qq	.
8EJ	8ee 8gg# 8bbJ)	.
=123	=123	=123
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4.a 4.cc# 4.ee 4.aa	.
8A	.	.
8A	.	.
8AJ	8cc# 8ccc#	.
=124	=124	=124
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4.a 4.aa	.
8A	.	.
8A	.	.
8AJ	8ee 8eee	.
=125	=125	=125
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	4.a 4.aa	.
8A	.	.
8A	.	.
8AJ	8cc# 8ccc#	.
=126	=126	=126
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8a' 8aa'L	.
8AJ	8cc#' 8ccc#'	.
(>32AAqLLL	.	.
32C#q	.	.
32EqJJJ	.	.
8AL)	8a' 8aa'	.
8AJ	8ee' 8eee'J	.
=127	=127	=127
4AA	4a' 4aa'	.
4AA 4C# 4E 4A	4a 4cc# 4ee 4aa	.
=128	=128	=128
4AA 4C# 4E 4A	4a 4cc# 4ee 4aa	.
4r	4r	.
==	==	==
*-	*-	*-
!!!RDF**kern: > = above
!!!RDF**kern: < = below
!!!YOR: Alte Mozart-Ausgabe, Band 20, Breitkopf &amp; H&auml;rtel 1877-1883.
!!!YOY: 1878
!!!YEC: 2018 Craig Stuart Sapp
!!!source: https://github.com/craigsapp/mozart-piano-sonatas
!!!YEM: Licence: (CC BY-NC-SA 4.0) https://creativecommons.org/licenses/by-nc-sa/4.0
!!!YER: 2018
!!!ENC: Craig Stuart Sapp
!!!END: 2009/09/30
!!!EED: Craig Stuart Sapp
!!!EEV: 2018/06/17
!!!EFL: 51/69
!!!AGN: piano sonata
!!!AFR: 
!!!title: @{OTL}, K 331 (300i), mvmt. @{OMV}
</div>

<div id="input-old8" style="visibility:hidden; display:none; width:400px;">!!!COM: Mozart, Wolfgang Amadeus
!!!CDT: 1756/01/27/-1791/12/05/
!!!CNT: German
!!!OTL: Piano Sonata No. 11 in A major
!!!SCT1: K<sup>1</sup> 331
!!!SCT2: K<sup>6</sup> 300i
!!!OMV: Mvmt. 1a
!!!OMD: Thema: Andante grazioso
!!!ODT: 1778-1873///
**kern	**kern	**dynam
*staff2	*staff1	*staff1/2
*>[A,A,B,B]	*>[A,A,B,B]	*>[A,A,B,B]
*>norep[A,B]	*>norep[A,B]	*>norep[A,B]
*>A	*>A	*>A
*clefF4	*clefG2	*clefG2
*k[f#c#g#]	*k[f#c#g#]	*k[f#c#g#]
*A:	*A:	*A:
*M6/8	*M6/8	*M6/8
*MM72	*MM72	*MM72
=1-	=1-	=1-
*^	*	*
4e	(8.AL	(8.cc#L	p
.	16Bk)	16ddk)	.
8e	8AJ	8cc#J	.
4e	4c#	4ee	.
8e	8c#	8ee	.
=2	=2	=2	=2
4e	(8.G#L	(8.bL	.
.	16Ak)	16cc#k)	.
8e	8G#J	8bJ	.
4e	4B	4dd	.
8e	8B	8dd	.
=3	=3	=3	=3
4e	4F#	4a	.
8e	8F#	8a	.
4e	4G#	4b	.
8e	8G#	8b	.
*v	*v	*	*
=4	=4	=4
*	*^	*
4A	4cc#	4e	.
8D	(16eeLL	8b	.
.	16ddJJ)	.	.
4.E	(4cc#	(4a	.
.	8b)	8g#)	.
*	*v	*v	*
=5	=5	=5
*^	*	*
4e	(8.AL	(8.cc#L	.
.	16Bk)	16ddk)	.
8e	8AJ	8cc#J	.
4e	4c#	4ee	.
8e	8c#	8ee	.
=6	=6	=6	=6
4e	(8.G#L	(8.bL	.
.	16Ak)	16cc#k)	.
8e	8G#J	8bJ	.
4e	4B	4dd	.
8e	8B	8dd	.
=7	=7	=7	=7
4e	4F#	4a	.
8e	8G#	8b	.
4e	4A	4cc#	.
8ryy	8D	8f# 8b 8dd	sf
*v	*v	*	*
=8	=8	=8
4E	4e 4a 4cc#	p
8EE	8d 8e 8g# 8b	.
4AA	4c# 4e 4a	.
8r	8r	.
=9:|!|:	=9:|!|:	=9:|!|:
*>B	*>B	*>B
(8AL	(8.eeL	.
8c#	.	.
.	16ff#k)	.
8eJ	8eeJ	.
8AL	4ff#	.
8d	.	.
8f#J	8ff#	.
=10	=10	=10
.	(32ff#qLLL>	.
.	32gg#qJJJ	.
8AL	(8.aaL)	.
8d	.	.
.	16gg#k)	.
8f#J	8ff#J	.
8AL	(8ff#L	.
8c#	8ee)	.
8eJ)	8ee'J	.
=11	=11	=11
4A 4c#	(8eeL	sf
.	8cc#)	.
8r	8a'J	.
4G# 4d	(8eeL	sf
.	8dd)	.
8r	8b'J	.
=12	=12	=12
*	*^	*
4A 4c#	4.ryy	(>8eeL	sf
.	.	8cc#)	.
8F# 8d#	.	8a'>J	.
4.E 4.e	(4cc#	(4a	.
.	8b)	8g#)	.
*	*v	*v	*
=13	=13	=13
*^	*	*
4e	(8.AL	(8.cc#L	p
.	16Bk)	16ddk)	.
8e	8AJ	8cc#J	.
4e	4c#	4ee	.
8e	8c#	8ee	.
=14	=14	=14	=14
4e	(8.G#L	(8.bL	.
.	16Ak)	16cc#k)	.
8e	8G#J	8bJ	.
4e	4B	4dd	.
8e	8B	8dd	.
=15	=15	=15	=15
4e	4F#	4a/	.
8e	8G#	8b/	.
4e	4A	4cc#/	.
8ryy	8D	8f# 8b 8dd	sf
*v	*v	*	*
=16	=16	=16
*	*^	*
4E	4e 4a 4cc#	4.ryy	p
8EE	8e 8g# 8b	.	.
4.AA	4g# (4b	4.e	.
.	8a 8cc#)	.	.
=17	=17	=17	=17
4AA 4A	4a 4cc#	4e	f
8BB 8B	8g# 8dd	8e	.
4C# 4c#	4a 4ee	4e	.
8D 8d	8ryy	(>16ff#LL	.
.	.	32gg#L	.
.	.	32aaJJJ	.
=18	=18	=18	=18
4E 4c#	4a)	4ryy	.
8E 8d	(16cc#LL	8g#	.
.	16bJJ)	.	.
4A 4c#	4a	4a	.
8r	8r	8ryy	.
*	*v	*v	*
==:|!	==:|!	==:|!
*-	*-	*-
!!!RDF**kern: > = above
!!!RDF**kern: < = below
!!!SMS: Alte Mozart-Ausgabe, Band 20, Breitkopf &amp; H&auml;rtel 1877-1883.
!!!ONB: Stich und Druck von Breitkopf &amp; H&auml;rtel in Leipzig
!!!ONB: Ausgegeben 1878
!!!ENC: Craig Stuart Sapp
!!!END: 2009/09/29/
!!!EED: Craig Stuart Sapp
!!!EEV: 2017/01/27/
!!!title: @{OTL}, K 331 (300i), @{OMV}</div>

<div id="input-old4" style="visibility:hidden; display:none; width:400px;">**kern	**text	**text
*clefG2	*	*
*k[f#c#]	*	*
*D:	*D:	*D:
*M4/4	*	*
*met(c)	*	*
*MM88	*	*
=1-	=1-	=1-
2a	Kde	Where
8b/	do-	is
8a	-mov	my
=2	=2	=2
4e	můj,	home,
2g	kde	where
8f#	do-	is
8e	-mov	my
=3	=3	=3
2d	můj?	home?
4r	.	.
8d	Vo-	Wa-
8d	-da	-ters
=4	=4	=4
(8.dL	hu-	mur-
16gJk)	.	.
2g	-či	-mur
8a	po	a-
8b/	lu-	-cross
=5	=5	=5
(8aL	-či-	the
8f#J)	.	mea-
4d	-nách,	-dows,
4r	.	.
8d	bo-	pine-
8d	-ry	-woods
=6	=6	=6
(8dL	šu-	rus-
8g)	.	-tle
(8g	-mí	up-
8bJ)	.	.
(4dd	po	-pon
8cc#L)	.	.
8bJ	ska-	the
=7	=7	=7
4b/	-li-	cliff-
4a	-nách,	-rocks,
4r	.	.
8a	v sa-	bloom
8a	-dě	of
=8	=8	=8
[2a	skví	spring
8a]	.	shines
8b/	se	in
8a	ja-	the
8g	-ra	or-
=9	=9	=9
2f#	květ,	-chard,
4r	.	.
8a	zem-	par-
8a	-ský	-a-
=10	=10	=10
[2cc#	ráj	-dise
8cc#]	.	.
8b/	to	on
8a	na	Earth
8g	po-	.
=11	=11	=11
2f#	-hled!	see!
4r	.	.
8f#	A	And
8f#	to	that
=12	=12	=12
4.f#	je	is
8f#	ta	the
(4f#	krá-	bea-
8g#X)	.	.
8a#X	-sná	-u-
=13	=13	=13
(8a#XL	ze-	-ti-
8bJ)	.	-ful
4b/	-mě,	land,
4r	.	.
8b/	ze-	The
8b/	-mě	.
=14	=14	=14
(8bL	če-	Czech
8aJ)	.	.
2a	-ská,	.
8gL	do-	land,
8aJ	-mov	my
=15	=15	=15
(4f#	můj	home,
2dd)	.	.
8cc#	ze-	The
8b	-mě	.
=16	=16	=16
4b/	če-	Czech
2a	-ská,	.
8e	do-	land,
8f#	-mov	my
=17	=17	=17
2d	můj.	home.
==	==	==
*-	*-	*-</div>

<div id="input-old5" style="visibility:hidden; display:none; width:400px;">!!!OTL: Jeszcze Polska nie zginęła
**kern	**text	**kern	**text	**kern	**text	**kern	**text
*part4	*part4	*part3	*part3	*part2	*part2	*part1	*part1
*staff4	*staff4	*staff3	*staff3	*staff2	*staff2	*staff1	*staff1
*clefF4	*	*clefGv2	*	*clefG2	*	*clefG2	*
*k[b-]	*	*k[b-]	*	*k[b-]	*	*k[b-]	*
*M3/4	*	*M3/4	*	*M3/4	*	*M3/4	*
=1-	=1-	=1-	=1-	=1-	=1-	=1-	=1-
8.F	Jesz-	8.c	Jesz-	8.f	Jesz-	8.a	Jesz-
16G	-cze	16c	-cze	16f	-cze	16b-	-cze
4A	Pol-	4c	Pol-	4f	Pol-	4cc	Pol-
4C	-ska	4G	-ska	4e	-ska	4cc	-ska
=2	=2	=2	=2	=2	=2	=2	=2
8.F	nie	8.A	nie	8.f	nie	8.cc	nie
16F	zgi-	16c	zgi-	16a	zgi-	16a	zgi-
4AA	-nę-	8fL	-nę-	4f	-nę-	8ddL	-nę-
.	.	8eJ	.	.	.	8ccJ	.
4BB-	-ła,	8dL	-ła,	4g	-ła,	8b-L	-ła,
.	.	8cJ	.	.	.	8aJ	.
=3	=3	=3	=3	=3	=3	=3	=3
8.C	kie-	8.c	kie-	8.f	kie-	8.g	kie-
16C	-dy	16c	-dy	16f	-dy	16g	-dy
8CL	my	4.G	my	8eL	my	4.cc	my
8D	.	.	.	8f	.	.	.
8EJ	.	.	.	8gJ	.	.	.
8E	ży-	8c	ży-	8g	ży-	8b-	ży-
=4	=4	=4	=4	=4	=4	=4	=4
4F	-je-	4c	-je-	4g	-je-	4b-	-je-
4F	-my,	4c	-my,	4f	-my,	4a	-my,
4r	.	4r	.	4r	.	4r	.
=5	=5	=5	=5	=5	=5	=5	=5
8.F	co	8.c	co	8.f	co	8.a	co
16G	nam	16c	nam	16f	nam	16b-	nam
4A	ob-	4c	ob-	4f	ob-	4cc	ob-
4C	-ca	4G	-ca	4e	-ca	4cc	-ca
=6	=6	=6	=6	=6	=6	=6	=6
8.F	prze-	8.A	prze-	8.f	prze-	8.cc	prze-
16F	-moc	16c	-moc	16a	-moc	16a	-moc
4AA	wzię-	8fL	wzię-	4f	wzię-	8ddL	wzię-
.	.	8eJ	.	.	.	8ccJ	.
4BB-	-ła,	8dL	-ła,	4g	-ła,	8b-L	-ła,
.	.	8cJ	.	.	.	8aJ	.
=7	=7	=7	=7	=7	=7	=7	=7
8.C	sza-	8.c	sza-	8.f	sza-	8.g	sza-
16C	-blą	16c	-blą	16f	-blą	16g	-blą
4.C	od-	4.c	od-	8eL	od-	4.cc	od-
.	.	.	.	8d	.	.	.
.	.	.	.	8cJ	.	.	.
8C	-tne-	8B-	-tne-	8c	-tne-	8e	-tne-
=8	=8	=8	=8	=8	=8	=8	=8
4F	-rze-	4B-	-rze-	4c	-rze-	4g	-rze-
4F	-my.	4A	-my.	4c	-my.	4f	-my.
4r	.	4r	.	4r	.	4r	.
=9!|:	=9!|:	=9!|:	=9!|:	=9!|:	=9!|:	=9!|:	=9!|:
4C	Marsz,	4c	Marsz,	4e	Marsz,	4g	Marsz,
4.C	marsz,	4.c	marsz,	8eL	marsz,	4.g	marsz,
.	.	.	.	8f	.	.	.
.	.	.	.	8gJ	.	.	.
8C	Dą-	8c	Dą-	8e	Dą-	8b-	Dą-
=10	=10	=10	=10	=10	=10	=10	=10
4F	-bro-	8dL	-bro-	4f	-bro-	8b-L	-bro-
.	.	8cJ	.	.	.	8aJ	.
2F	-wski,	2c	-wski,	2f	-wski,	2a	-wski,
=11	=11	=11	=11	=11	=11	=11	=11
8.B-	z zie-	8.d	z zie-	8.f	z zie-	8.b-	z zie-
16B-	-mi	16d	-mi	16f	-mi	16b-	-mi
4B-	wło-	4d	wło-	4f	wło-	4b-	wło-
8d	-skiej	8d	-skiej	8f	-skiej	8b-	-skiej
8B-	do	8f	do	8b-	do	8dd	do
=12	=12	=12	=12	=12	=12	=12	=12
4F	Pol-	4f	Pol-	8b-L	Pol-	4dd	Pol-
.	.	.	.	8aJ	.	.	.
2F	-ski!	2f	-ski!	2a	-ski!	2cc	-ski!
=13	=13	=13	=13	=13	=13	=13	=13
4.F	Za	8c	Za	4.a	Za	8a	Za
.	.	8c	two-	.	.	8cc	two-
.	.	4.c	-im	.	.	4.ff	-im
8G	two-	.	.	8b-	two-	.	.
8A	-im	.	.	8cc	-im	.	.
8A	prze-	8f	prze-	8cc	prze-	8ee	prze-
=14	=14	=14	=14	=14	=14	=14	=14
4B-	-wo-	4f	-wo-	4cc	-wo-	8eeL	-wo-
.	.	.	.	.	.	8ddJ	.
2B-	-dem	2f	-dem	2b-	-dem	2dd	-dem
=15	=15	=15	=15	=15	=15	=15	=15
8c	zlą-	8c	zlą-	8cc	zlą-	8cc	zlą-
8c	-czym	8c	-czym	8cc	-czym	8cc	-czym
4.C	się	8fL	się	4.g	się	4.b-	się
.	.	8e	.	.	.	.	.
.	.	8dJ	.	.	.	.	.
8C	z na-	8c	z na-	8e	z na-	8e	z na-
=16	=16	=16	=16	=16	=16	=16	=16
4F	-ro-	4B-	-ro-	4e	-ro-	4g	-ro-
4F	-dem.	4A	-dem.	4c	-dem.	4f	-dem.
4r	.	4r	.	4r	.	4r	.
=:|!	=:|!	=:|!	=:|!	=:|!	=:|!	=:|!	=:|!
*-	*-	*-	*-	*-	*-	*-	*-</div>

<div id="input-old7" style="visibility:hidden; display:none; width:400px;">!!!OTL: La Marseillaise
!!!COM: de Lisle, Rouget
!!!LYR: de Lisle, Rouget
!!!OMD: Marcia maestoso
**kern	**text
*k[f#]	*
*M4/4	*
*met(c)	*
16d	Al-
8.d	-lons
16d	en-
=1	=1
4g	-fants
4g	de
4a	la
4a	Pa-
=2	=2
(4.dd	-tri-
8b)	.
8g	-e!
16r	.
16g	Le
8.b/	jour
16g	de
=3	=3
4e	gloire
2cc^^	est
8.a	ar-
16f#	-ri-
=4	=4
2g	-vé;
4r	.
8.g	Con-
16a	-tre
=5	=5
4b/	nous
4b/	de
4b/	la
8.cc	ty-
16b	-ran-
=6	=6
4b/	-ni-
4a	-e
4r	.
8.a	L'é-
16b/	-ten-
=7	=7
4cc	-dard
4cc	sang-
4cc	-lant
8.dd	est
16cc	le-
=8	=8
2b	-vé.
4r	.
8.dd	L'é-
16dd	-ten-
=9	=9
((4dd	-dard
8.b)	.
16g	sang-
4dd	-lant
8.b	est
16g	le-
=10	=10
2d	-vé!
8.r	.
16d	En-
8.d	-ten-
16d	-dez--
=11	=11
2a	vous
4cc	dans
8.a	les
16f#	cam-
=12	=12
4g	-pag-
4g	-nes
2fn	Mu-
=13	=13
4e	-gir
8.g	ces
16g	fé-
4g	-ro-
8.f#X	-ces
16g	sol-
=14	=14
2a	-dats?
4r	.
8r	.
8a	Ils
=15	=15
4.b-/	vien-
8b-/	-nent
8b-/	jus-
8b-/	-que
8cc	dans
8dd	nos
=16	=16
2.a	bras
8b-/	E-
8a	-gor-
=17	=17
4.g	-ger
8g	nos
4b-/	fils
8a	nos
8g	com-
=18	=18
(4g	-pag-
8f#)	-nes!
8r	.
4r	.
8.r	.
16dd	Aux
=19	=19
[2dd	ar-
8r	.
8dd	-mes
8.b	ci-
16g	-toy-
=20	=20
2.a	-ens
8.r	.
16dd	for-
=21	=21
2dd	-mez
8r	.
8dd	vos
8.b	ba-
16g	-tail-
=22	=22
2a	-lons!
4r	.
4d	Mar-
=23	=23
2g^	-chons!
4r	.
4a	mar-
=24	=24
2b^/	-chons!
2r	.
=25	=25
2cc	Qu'un
4dd	sang
4ee	im-
=26	=26
2.a^^	-pur
4ee	a-
=27	=27
([2dd	-breu-
8.dd)	.
16b	-ve
8.cc	nos
16a	sil-
=28	=28
2g	-lons!
8.r	.
==	=
*-	*-</div>

<div id="input-old3" style="visibility:hidden; display:none; width:400px;">
*M4/4
*clefG2
=1-
(&lt;8f^&lt;L&lt;@
8g'~N
8a`&lt;N
8b-~JZ
2/ee#M&lt;'~;&gt;)
==
*-
!!!RDF**kern: &lt; = below
!!!RDF**kern: &gt; = above
!!!RDF**kern: @ = marked note color="orchid"
!!!RDF**kern: N = marked note color="#8855ff"
!!!RDF**kern: Z = marked note color="yellowgreen"
</div>


<div id="input-old-canada" style="display:none; width:400px;">**kern	**text	**text	**text	**text	**text
*clefG2	*	*	*	*	*
*k[b-]	*	*	*	*	*
*F:	*	*	*	*	*
*M4/4	*	*	*	*	*
*met(c)	*	*	*	*	*
*MM140	*	*	*	*	*
!	!ENG	!FRE	!IKU	!IKU:tr	!OJI
=1-	=1-	=1-	=1-	=1-	=1-
2a	O	Ô	ᐆ	Uu	O
4.cc	Ca-	Ca-	ᑲ-	Ka-	Ca-
8cc	-na-	-na-	-ᓇ-	-na-	-na-
=2	=2	=2	=2	=2	=2
2.f	-da!	-da!	-ᑕ!	-ta!	-da!
4g	Our	Ter-	ᓇᖕ-	Nang-	O-
=3	=3	=3	=3	=3	=3
4a	home	-re	-ᒥ-	-mi-	maa--
4b-	and	de	-ᓂ	-ni	-saa--
4cc	na-	nos	ᓄ-	nu-	-wen
4dd	-tive	aï-	-ᓇ-	-na-	gee
=4	=4	=4	=4	=4	=4
1g	land!	-eux,	-ᕗᑦ!	-vut!	yang,
=5	=5	=5	=5	=5	=5
2a	True	Ton	ᐱ-	Pi-	Kee--
4.bn	pa-	front	-ᖁ-	-qu-	-taa--
8b	-triot	est	-ᔭ-	-ja-	-kee-
=6	=6	=6	=6	=6	=6
2.cc	love	ceint	-ᑏ	-tii	-naan,
4dd	in	de	ᓇ-	na-	Ktchi--
=7	=7	=7	=7	=7	=7
4ee	all	fleu-	-ᓚᑦ-	-lat-	-aa-
4ee	thy	-rons	-ᑎ-	-ti-	-pee--
4dd	sons	glo-	-ᐊᖅ-	-aq-	-ten
4dd	com-	-ri-	-ᐸ-	-pa-	daag
=8	=8	=8	=8	=8	=8
2.cc	-mand.	-eux!	-ᕗᑦ.	-vut.	waad.
(8.gL	With	Car	ᐊ-	A-	Kee
16aJk)	.	ton	.	.	ee-
=9	=9	=9	=9	=9	=9
4.b-	glow-	bras	-ᖏᒡ-	-ngig-	-tay
8a	-ing	sait	-ᓕ-	-li-	ee
4g	hearts	por-	-ᕙᓪ-	-va-	nang
(8.aL	we	-ter	-ᓕ-	-li-	wee
16b-Jk)	.	l'é-	.	.	shaa
=10	=10	=10	=10	=10	=10
4.cc	see	-pé-	-ᐊ-	-a-	wen
8b-	thee	.	-ᔪ-	-ju-	daa
4a	rise,	-e,	-ᑎ,	-ti,	daa
(8.b-L	The	Il	ᓴ-	sa-	Ee
16ccJk)	.	.	.	.	way--
=11	=11	=11	=11	=11	=11
4dd	True	sait	-ᙱ-	-nngi-	-kaa--
4cc	North	por-	-ᔪ-	-ju-	-mee
4b-	strong	-ter	-ᓗ-	-lu-	nee
4a	and	la	-ᑎᓪ-	-til-	ko
=12	=12	=12	=12	=12	=12
2.g	free!	croix!	-ᓗ.	-lu.	yang.
(8.gL	From	Ton	ᓇ-	Na-	Maa
16aJk)	.	his-	.	.	aa
=13	=13	=13	=13	=13	=13
4.b-	far	-toire	-ᖏᖅ-	-ngiq-	mee
8a	and	est	-ᐳ-	-pu-	kwaa
4g	wide,	une	-ᒍ,	-gu,	dan,
(8.aL	O	é-	ᐆ	Uu	O
16b-Jk)	.	-po-	.	.	.
=14	=14	=14	=14	=14	=14
4.cc	Ca-	-pé-	ᑲ-	Ka-	Ca-
8b-	-na-	.	-ᓇ-	-na-	-na-
4a	-da,	e	-ᑕ,	-ta	-da,
4a	we	Des	ᒥ-	Mi-	We
=15	=15	=15	=15	=15	=15
4g	stand	plus	-ᐊ-	-a-	we
4cc	on	bril-	-ᓂ-	-ni-	nee-
(8ccL	guard	-lants	-ᕆᑉ-	-rip-	-gaan
8bn)	.	.	.	.	aa
(8a	for	ex-	-ᓗ-	-lu-	wen
8bJ)	.	.	.	.	daa
=16	=16	=16	=16	=16	=16
1cc	thee.	-ploits.	-ᑎ.	-ti.	daa.
=17	=17	=17	=17	=17	=17
2a	God	Et	ᐆ	Uu	O
4.cc	keep	ta	ᑲ-	Ka-	Ca-
8cc	our	va-	-ᓇ-	-na-	-na-
=18	=18	=18	=18	=18	=18
1f	land	-leur,	-ᑕ!	-da!	-da!
=19	=19	=19	=19	=19	=19
2b-	glo-	de	ᓄ-	nu-	keetchee--
4.dd	-rious	foi	-ᓇᑦ-	-nat-	ee
8dd	and	trem-	-ᓯ-	-si-	nen
=20	=20	=20	=20	=20	=20
1g	free!	-pée,	-ᐊ!	-a!	dan!
=21	=21	=21	=21	=21	=21
2cc	O	Pro-	ᓇ-	Na-	Maa
4.cc#	Ca-	-té-	-ᖏᖅ-	-ngiq-	mee
8cc#	-na-	-ge-	-ᐳ-	-pu-	kwen
=22	=22	=22	=22	=22	=22
4dd	-da,	-ra	-ᒍ	-gu	dan,
4b-	we	nos	ᒥ-	mi-	Mee-
4a	stand	foy-	-ᐊ-	-a-	-gwetch--
4g	on	-ers	-ᓂ-	-ni-	-ee
=23	=23	=23	=23	=23	=23
2f	guard	et	-ᕆᑉ-	-rip-	nen
2g	for	nos	-ᓗ-	-lu-	daa
=24	=24	=24	=24	=24	=24
1a	thee.	droits.	-ᑎ,	-ti,	daa.
=25	=25	=25	=25	=25	=25
2cc	O	Pro-	ᐆ	Uu	Maa
4.ff	Ca-	-té-	ᑲ-	Ka-	mee
8ff	-na-	-ge-	-ᓇ-	-na-	kwen
=26	=26	=26	=26	=26	=26
4dd	-da,	-ra	-ᑕ,	-ta,	dan,
4b-	we	nos	ᓴ-	sa-	Mee-
4a	stand	foy-	-ᓚ-	-la-	-gwetch--
4g	on	-ers	-ᒋ-	-gi-	-ee
=27	=27	=27	=27	=27	=27
2cc	guard	et	-ᔭᐅ-	-jau-	nen
2e	for	nos	-ᖁ-	-qu-	daa
=28	=28	=28	=28	=28	=28
1f	thee.	droits.	-ᓇ!	-na!	daa.
==	==	==	==	==	==
*-	*-	*-	*-	*-	*-
!!!CharacterEncoding: UTF-8
!!!COM: Calixa Lavallée
!!!ODT: 1880
!!!LRY@@FRE: Adolphe-Basile Routhier
!!!LRY@ENG: Robert Stanley Weir
!!!LYR@OJI: originated in a boarding school near Hamilton, Ontario
!!!ONB: Cree version: creeliteracy.org/page/10
</div>

<div id="output"></div>

<div id="index"></div>

<div id="splitter"></div>

<div id="dropArea"></div>

<div id="help-container" style="display:none;"></div>


</body>
</html>
