{% comment %}
	vim: nowrap ts=3 ft=javascript
{% endcomment %}

<script id="template-toolbar" type="text/x-handlebars-template">

{% include toolbar/toolbar-main.html            %}
{% include toolbar/toolbar-save.html            %}
{% include toolbar/toolbar-load.html            %}
{% include toolbar/toolbar-search.html          %}
{% include toolbar/toolbar-filter.html          %}
{% include toolbar/toolbar-spreadsheet.html     %}
{% include toolbar/toolbar-page-navigation.html %}

</script>



