


<!-- filters used in styles/styles.css to control highlighting in SVG images -->

<svg height="0" style="position: absolute; top: -999999px" xmlns="http://www.w3.org/2000/svg">

 <filter id="highlight-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="10"/>
    <feOffset dx="0" dy="0" result="offsetblur"/>
    <feFlood flood-color="black"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>

 <filter id="hover-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="10"/>
    <feOffset dx="0" dy="0" result="offsetblur"/>
    <feFlood flood-color="#D30"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>

</svg>


