<!--
	vim: ts=3:nowrap
-->

<div class="topnav" id="topnav" style="position: fixed; top: 0px; height:30px; z-index:400;">
	<div style="overflow:auto;">


		<div style="float:left; overflow:hidden;height:44px">
			<table id="header-table">
				<tr>
					<td>
						<h1 id="vhv">Verovio Humdrum Viewer </h1>
					</td>
					<td width="100%">
						<span id="title-info">
							<span id="composer"></span>&nbsp;<span id="title"></span>
						</span>
					</td>
					<td style="width:100%;">
						{% include help-button.html %}
					</td>
					<td>
						{% include audio-buttons.html %}
					</td>
				</tr>
			</table>
		</div>


	</div>

</div>

<div id="menubar" class="w3-navbar w3-card-2 w3-slim topnav" style="position: fixed; top: 25px; z-index=50;">
{% include menu/main.html %}
</div>




