<!-- 
vim: ts=3:nowrap
-->


<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.forceNoteStemUp()">Force stem up</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/a">a</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.forceNoteStemDown()">Force stem down</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/b">b</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.removeStemDirection()">Clear stem direction</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/c">c</a>
				</span>
			</td>
		</tr>
	</table>
</li>
