<!-- 
vim: ts=3:nowrap
-->


<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleMinorLowerMordent()">Toggle minor lower mordent</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">m</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleMajorLowerMordent()">Toggle major lower mordent</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">M</a>
				</span>
			</td>
		</tr>
	</table>
</li>



<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleMinorUpperMordent()">Toggle minor upper mordent</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">w</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleMajorUpperMordent()">Toggle major upper mordent</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">W</a>
				</span>
			</td>
		</tr>
	</table>
</li>


