<!-- 
vim: ts=3:nowrap
-->

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.nextMelodicNote()">Next melodic note</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">&rarr;</i></a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.previousMelodicNote()">Previous melodic note</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">&larr;</i></a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.nextHarmonicNote()">Next harmonic note</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">&darr;</i></a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.previousHarmonicNote()">Previous harmonic note</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">&uarr;</i></a>
					</span>
				</td>
			</tr>
		</table>
	</li>


