<!-- 
vim: ts=3:nowrap
-->


<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchUpStep(1)">Up a step</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">shift-&uarr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchDownStep(1)">Down a step</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">shift-%darr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchUpOctave(1)">Up an octave</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">ctrl-&uarr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchDownOctave(1)">Down an octave</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">ctrl-&darr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>



<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchUpStep(5)">Up a fifth</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">5 shift-&uarr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.pitchDownStep(3)">Down a third</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">3 shift-&darr;</a>
				</span>
			</td>
		</tr>
	</table>
</li>



