<!-- 
vim: ts=3:nowrap
-->


<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleNaturalAccidental()">Toggle natural accidental</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">n</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleSharpAccidental()">Toggle sharp accidental</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">#</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleFlatAccidental()">Toggle flat accidental</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">-</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleForcedDisplay()">Toggle forced display of accidental</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/pitch">X</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleEditorialAccidental()">Toggle editorial accidental</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/i">i</a>
				</span>
			</td>
		</tr>
	</table>
</li>



