<!-- 
vim: ts=3:nowrap
-->


<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleStaccato()">Toggle staccato</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">'</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleStaccatissimo()">Toggle staccatissimo</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">`</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleTenuto()">Toggle tenuto</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">~</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleAccent()">Toggle accent</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">6</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleMarcato()">Toggle marcato</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">shift-6</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleFermata()">Toggle fermata</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">;</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.toggleArpeggio()">Toggle arpeggio</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/graphic/note">:</a>
				</span>
			</td>
		</tr>
	</table>
</li>


