<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.applyFilter('autobeam')">Beam by meter</span>
			</td>
			<td class="shortcut-cell">
				<span class="filter">
					<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autobeam">autobeam</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>

	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.applyFilter('autobeam -r')">Remove beams</span>
			</td>
			<td class="shortcut-cell"">
				<span class="filter">
					<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autobeam">autobeam -r</a>
				</span>
			</td>
		</tr>
	</table>

</li>

