<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.insertLocalCommentLine()">Insert local comment line (above cursor)</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-L">alt-L</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.insertInterpretationLine()">Insert interpretation line (above cursor)</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-I">alt-I</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.insertNullDataLine()">Insert null data line (above cursor)</span>
			</td>
			<td class="shortcut-cell"">
				<span class="shortcut">
					<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-D">alt-D</a>
				</span>
			</td>
		</tr>
	</table>
</li>
