<!-- 
This is the contents of the "Edit" menu entry in the top menu.
This file is included into menu/main.html
-->

<!-- 
	vim: ts=2:nowrap
-->

<span class="menu-name nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Edit
</span>

<ul class="dropdown-menu">

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.clearEditorContents()">Clear text editor</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-e">alt-e</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.compileEmbeddedFilters()">Compile embedded filters</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-c">alt-c</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<a class="dropdown-item dropdown-toggle" href="#">Beams</b></a>
		<ul class="dropdown-menu">
			{% include menu/edit-beams.html %}
		</ul>
	</li>

	<li>
		<a class="dropdown-item dropdown-toggle" href="#">Data</b></a>
		<ul class="dropdown-menu">
			{% include menu/edit-line.html %}
		</ul>
	<li>

	<li>
		<a class="dropdown-item dropdown-toggle" href="#">Stems</b></a>
		<ul class="dropdown-menu">
			{% include menu/edit-stems.html %}
		</ul>
	</li>

	<li>
		<a class="dropdown-item dropdown-toggle" href="#">Text</b></a>
		<ul class="dropdown-menu">
			{% include menu/edit-text.html %}
		</ul>
	</li>

</ul>
