<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="applyFilter('autostem')">Add note stems</span>
			</td>
			<td class="shortcut-cell"">
				<span class="filter">
					<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autostem">autostem</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="applyFilter('autostem -r')">Remove notes stems</span>
			</td>
			<td class="shortcut-cell"">
				<span class="filter">
					<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autostem">autostem -r</a>
				</span>
			</td>
		</tr>
	</table>
</li>



