<!-- 
This is the contents of the "File" menu entry in the top menu.
This file is included into menu/main.html
-->

<!-- 
	vim: ts=2:nowrap
<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
-->


<span class="menu-name nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	File
</span>

<ul class="dropdown-menu">

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.saveTextEditorContents()">Download editor contents</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-s">alt-s</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.createPdf()">Create PDF</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-t">alt-T</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.createPdfPage()">Create PDF of current view</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-t">alt-t</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.reloadFromSource()">Reload data from source</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-r">alt-r</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.displayMeiData()">Display MEI data</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-m">alt-m</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.displayHumdrumData()">Display Humdrum data</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-h">alt-h</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<span class="menu-item" onclick="MENU.displaySvgData()">Display SVG image text</span>
				</td>
				<td class="shortcut-cell"">
					<span class="shortcut">
						<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-g">alt-g</a>
					</span>
				</td>
			</tr>
		</table>
	</li>

	<li>
		<table class="menu">
			<tr>
				<td>
					<a class="menu-item">Save to local buffer</a>
				</td>
				<td class="shortcut-cell"">
					<span class="documentation">
						<a target="_blank" href="https://doc.verovio.humdrum.org/interface/buffers">info</a>
					</span>
				</td>
			</tr>
		</table>
		<ul class="dropdown-menu">
			{% include menu/file-save-buffer.html %}
		</ul>
	</li>

	<li>
		<a class="dropdown-item dropdown-toggle" href="#">Load local buffer</b></a>
		<ul class="dropdown-menu">
			{% include menu/file-load-buffer.html %}
		</ul>
	</li>

</ul>


