<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(1)">Load from buffer 1</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(2)">Load from buffer 2</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(3)">Load from buffer 3</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(4)">Load from buffer 4</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(5)">Load from buffer 5</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(6)">Load from buffer 6</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(7)">Load from buffer 7</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(8)">Load from buffer 8</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(9)">Load from buffer 9</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadFromBuffer(0)">Load from autosave</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>



