<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(1)">Save to buffer 1</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(2)">Save to buffer 2</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(3)">Save to buffer 3</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(4)">Save to buffer 4</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(5)">Save to buffer 5</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(6)">Save to buffer 6</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(7)">Save to buffer 7</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(8)">Save to buffer 8</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.saveToBuffer(9)">Save to buffer 9</span>
			</td>
			<td class="shortcut-cell">
			</td>
		</tr>
	</table>
</li>



