<!-- 
This is the contents of the "Help" menu entry in the top menu.
This file is included into menu/main.html
-->

<!-- 
	vim: ts=2:nowrap
-->


<span class="menu-name nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Help
</span>

<ul class="dropdown-menu">

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org', 'doc')">Documentation</div></li>

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org/interface/getting_started', 'doc')">Getting started</div></li>

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org/humdrum/getting_started', 'doc')">Encoding tutorial</div></li>

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org/repertory', 'doc')">Online repertories</div></li>

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org/filters', 'doc')">Filters &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li>

	<li><div class="menu-item" onclick="MENU.openUrl('https://doc.verovio.humdrum.org/options', 'doc')">Embedded notation options</div></li>

</ul>



