
/* 
 * Stylings for top menu in navigation bar
 */

nav.navbar {
	background: transparent !important;
	height: 10px;

	padding-top: 10px;
	margin-top: 10px;

	padding-bottom: 6px;
	margin-bottom: 10px;
}

#navbarNavDropdown {
	background: transparent !important;
}


#primary-nav a.dropdown-toggle {
	color: #cccccc !important;
	margin-top: 5px;
	padding: 3px 16px;
}

.w3-navbar {
	overflow: visible !important;
}

.w3-navbar li:hover, .w3-navbar li a:hover {
	background: none !important;
	color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
	background: none !important;
}

.nav>li>a:hover {
/*	color: white; */
}


.menu-item {
	width: auto;
	clear: both;
	font-weight: 400;
	line-height: 1.6;
	color: #28292b;
	white-space: nowrap;
	padding: 3px 16px;
	cursor: pointer;
}

.menu-item:hover {
	color: #aa3355;
}

span.gh, span.web {
	display: block;
	color: black;
	/* float: right; */
	cursor: pointer;
}

span.shortcut {
	display: block;
	font-style: italic;
	color: #aaaaaa;
	cursor: pointer;
}

span.filter {
	display: block;
	color: limegreen;
	cursor: pointer;
}

span.shortcut a:hover, span.filter a:hover {
	color: #aa3355;
}


span.gh:before, span.web:before {
	content: "(";
	white-space: nowrap;
}
span.gh:after, span.web:after {
	content: ")";
	white-space: nowrap;
}

span.gh a, span.web a {
	display: inline;
	padding: 0;
}


span.gh a:hover, span.web a:hover {
	color: #aa3355;
}

div.menu-heading {
	color: black;
	font-weight: bold;
	white-space: nowrap;
	font-size: 110%;
	padding: 0;
	display: inline;
}

div.menu-heading a:hover {
	color: #aa3355;
}

table.menu, table.menu tr {
	width: 100%;
}

table.menu tr:hover {
	background: #f3f3f3;
}

table.menu td:first-child {
	width: 100%;
}

table.menu tr {
	white-space: nowrap;
}

table.menu a {
	padding: 3px 16px;
}

table.menu .gh a, table.menu .shortcut a, table.menu .filter a, table.menu .web a {
	padding: 0;
}

table.menu .shortcut a, table.menu .filter a {
	padding-right: 4px;
}

td.gh-cell {
	width:100%; 
	padding-right:4px;
}

/* Code for submenus */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


ul.dropdown-menu li {
	width: 100%;
}

li.nav-item.dropdown > a {
	margin-left: 15px;
}


/* end of submenu styling */


a.dropdown-item.dropdown-toggle {
	padding: 3px 16px;
}

li .dropdown-item.dropdown-toggle:hover {
	color: #aa3355;
	background: green;
}


span.dropdown-toggle {
	padding-left: 10px;
	margin-left: 16px;
}

span.dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border: 0;
	width: 0;
	height: 0;
}


li.contextual {
	display: none;
}



