<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('liederschatz1')">Deutscher Liederschatz</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/craigsapp/erk-liederschatz">GH</a>
				</span>
			</td>	
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span style="float:right;">
					<span class="menu-item" onclick="MENU.loadRepertory('liederschatz1', 'extract -k3')">
						<i>vocal part</i>
					</span>
					<span class="menu-item" onclick="MENU.loadRepertory('liderschatz1', 'extract -k1-2')">
						<i>piano part</i>
					</span>
				</span>
			</td>
			<td class="gh-cell"">
			</td>
		</tr>
	</table>
</li>



