<!-- 
	vim: ts=3:nowrap
-->

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Duf')">Guillaume Du Fay(<i>c</i>1397&ndash;1474)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Duf">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Ock')">Johannes Ockeghem (<i>c</i>1420&ndash;1497)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Ock">GH</a>
				</span>
			</td>	
		</tr>	
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Jap')">Jean Japart (?&ndash;1481)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Jap">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Bus')">Antoine Busnoys(<i>c</i>1430&ndash;1492)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Bus">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Jos')">Josquin des Prez (<i>c</i>1450&ndash;1521)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Jos">GH</a>
				</span>	
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Rue')">Pierre de la Rue (1452&ndash;1518)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Ock">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Obr')">Jacob Obrecht (1457&ndash;1505)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Obr">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>

<li>
	<table class="menu">
		<tr>
			<td>
				<span class="menu-item" onclick="MENU.loadRepertory('jrp/Ort')">Mabrianus de Orto (<i>c</i>1460&ndash;1529)</span>
			</td>
			<td class="gh-cell">
				<span class="gh">
					<a target="_blank" href="https://github.com/josquin-research-project/Ort">GH</a>
				</span>
			</td>
		</tr>
	</table>
</li>
