<style>

.nav-icon-group {
	white-space: nowrap;
	user-select: none;
}

.nav-icon
{
	user-select: none;
	white-space: nowrap;
	margin-right: 2px;
	opacity: 0.6;
	cursor: pointer;
}

[id^=save-],
[id^=load-]
{
	font-size: 65%;
}

[id^=save-].filled .fa-stack-2x
{
	color: red;
}

[id^=load-].filled .fa-stack-2x
{
	color: limegreen;
}


[id^=save-] .fa-stack-1x,
[id^=load-] .fa-stack-1x
{
	color: #01313f;

}

.nav-play-button:hover,
.nav-icon:hover
{
	opacity: 0.95 !important;
}

#toolbar {
	white-space: nobreak;
}

input#search-pitch, input#search-interval, input#search-rhythm {
	width: 80px;
	font-size: 15px;
	background: #ddd;
	border-radius: 3px;
	border: 0;
}

input[type="text"]::placeholder {  
	text-align: center; 
} 

input:focus {
    outline-width: 0;
}

input#filter {
	width:          270px;
	font-size:      15px;
	background:     #ddd;
	border-radius:  3px;
	border:         0;
}

input#scriptid {
	width:          270px;
	background:     #ddd;
	border-radius:  3px;
	border:         0;
	vertical-align:	middle;
	font-size:	15px;
	height:		24px;
}

.filter-icon.active {
	color: yellow;
	opacity: 0.9;
}

input:focus {
   outline-width: 0;
}

table.multipage td {
	padding-left: 2px !important;
	padding-right: 2px !important;
	opacity: 0.8;
}

table.multipage td div:hover,
tagle.multipage td:hover
{
	color: white;
	opacity: 0.95 !important;
}



</style>



