<!-- HANDLEBARS TEMPLATES -------------------------------------- -->
<!--
	vim: ts=3 ft=javascript
-->

<!-- TOP-LEVEL-MENU-TEMPLATE ------------------------------------------------------- -->

{% raw %}
<script id="top-level-menu-template" type="text/x-handlebars-template">

<nav id="handlebars-nav" class="navbar navbar-expand-md navbar-dark bg-dark btco-hover-menu">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul style="white-space:nospace; width:100%" class="navbar-nav">

			{{#ENTRY}}
				{{{printMainMenuEntry this}}}
			{{/ENTRY}}

<!--
single-entry example:
			<li id="nav-3"> <a href="/performers">Performers</a> </li>
-->

		</ul>

<!-- ==== toolbar ============================================================ -->

<style>

.nav-icon-group {
	white-space: nowrap;
	user-select: none;
}

.nav-icon
{
	user-select: none;
	white-space: nowrap;
	margin-right: 1px;
	opacity: 0.6;
	cursor: pointer;
}

[id^=save-],
[id^=load-]
{
	font-size: 65%;
}


[id^=save-].filled .fa-stack-2x
{
	color: red;
}

[id^=load-].filled .fa-stack-2x
{
	color: limegreen;
}


[id^=save-] .fa-stack-1x,
[id^=load-] .fa-stack-1x
{
	color: #01313f;

}

.nav-play-button:hover,
.nav-icon:hover
{
	opacity: 0.95 !important;
}

</style>
<div class="nav-icon-group" id="toolbar">
	<!-- General view/edit toolbar ============================================ -->
	<div class="nav-icon-group" id="toolbar-1">
		<span class="nav-icon-group" style="margin-right: 5px;" id="pdf-urls"></span>
		<span id="text-visibility-icon" onclick="toggleTextVisibility()">
			<div title="Click to hide text editor (alt-y)" class='nav-icon fas fa-eye'></div>
		</span>
		<span class="text-only" id="text-erase-icon" onclick="MENU.clearEditorContents()">
			<div title="Clear editor contents (alt-e)" class='nav-icon fas fa-eraser'></div>
		</span>
		<span class="text-only" id="text-undo-icon" onclick="MENU.undo()">
			<div title="Undo last change (ctrl-z)" class='nav-icon fas fa-undo'></div>
		</span>
		<span class="text-only" id="text-smaller-icon" onclick="MENU.decreaseTextFontSize(event)">
			<div title="Make text smaller" class='nav-icon fas fa-minus-circle'></div>
		</span>
		<span class="text-only" id="text-larger-icon" onclick="MENU.increaseTextFontSize(event)">
			<div title="Make text larger" class='nav-icon fas fa-plus-circle'></div>
		</span>
		<span class="text-only" id="decrease-tab-icon" onclick="decreaseTab()">
			<div title="Decrease tab size (alt-<)" class='nav-icon fas fa-outdent'></div>
		</span>
		<span class="text-only" id="increase-tab-icon" onclick="increaseTab()">
			<div title="Increase tab size (alt->)" class='nav-icon fas fa-indent'></div>
		</span>
		<span class="text-only" id="collapse-tabs-icon" onclick="MENU.applyFilter('tabber -r')">
			<div title="Collapse tabs" class='nav-icon fa fa-compress'></div>
		</span>
		<span class="text-only" id="expand-tabs-icon" onclick="MENU.applyFilter('tabber')">
			<div title="Expand tabs to align spines" class='nav-icon fa fa-expand'></div>
		</span>
		<span id="text-freeze-icon" onclick="toggleFreeze()">
			<div title="Click to freeze notation (alt-f)" class='nav-icon fas fa-unlock'></div>
		</span>
		<span id="notation-smaller-icon" onclick="MENU.adjustNotationScale(0.95, event)">
			<div title="Make notation smaller" class='nav-icon fas fa-minus-square'></div>
		</span>
		<span id="notation-larger-icon" onclick="MENU.adjustNotationScale(1.05, event)">
			<div title="Make notation larger" class='nav-icon fas fa-plus-square'></div>
		</span>
		<span id="line-break-icon" onclick="toggleLineBreaks()">
			<div title="Click to use embedded line breaks (if any)" class='nav-icon fas fa-align-center'></div>
		</span>
		<span id="line-break-icon" onclick="gotoNextToolbar(1, event)">
			<div title="Go to next toolbar menu (alt-n)" class='nav-icon fa fa-superpowers'></div>
		</span>
	</div>

	<!-- Buffer save toolbar ================================================== -->
	<div class="nav-icon-group" id="toolbar-2" style="display:none;">
		<span style="font-style: italic" class="nav-icon">Save</span>
		<span id="save-1" onclick="saveBuffer(1, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">1</strong></span>
		<span id="save-2" onclick="saveBuffer(2, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">2</strong></span>
		<span id="save-3" onclick="saveBuffer(3, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">3</strong></span>
		<span id="save-4" onclick="saveBuffer(4, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">4</strong></span>
		<span id="save-5" onclick="saveBuffer(5, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">5</strong></span>
		<span id="save-6" onclick="saveBuffer(6, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">6</strong></span>
		<span id="save-7" onclick="saveBuffer(7, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">7</strong></span>
		<span id="save-8" onclick="saveBuffer(8, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">8</strong></span>
		<span id="save-9" onclick="saveBuffer(9, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">9</strong></span>
		<span id="line-break-icon" onclick="gotoNextToolbar(2, event)">
			<div title="Go to next toolbar menu (alt-n)" class='nav-icon fa fa-superpowers'></div>
		</span>
	</div>

	<!-- Buffer load toolbar ================================================== -->
	<div class="nav-icon-group" id="toolbar-3" style="display:none;">
		<span style="font-style: italic" class="nav-icon">Load</span>
		<span id="load-1" onclick="loadBuffer(1, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">1</strong></span>
		<span id="load-2" onclick="loadBuffer(2, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">2</strong></span>
		<span id="load-3" onclick="loadBuffer(3, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">3</strong></span>
		<span id="load-4" onclick="loadBuffer(4, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">4</strong></span>
		<span id="load-5" onclick="loadBuffer(5, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">5</strong></span>
		<span id="load-6" onclick="loadBuffer(6, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">6</strong></span>
		<span id="load-7" onclick="loadBuffer(7, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">7</strong></span>
		<span id="load-8" onclick="loadBuffer(8, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">8</strong></span>
		<span id="load-9" onclick="loadBuffer(9, event)" class="nav-icon fa-stack"><span class="fa fa-square fa-stack-2x"></span><strong class="fa-stack-1x">9</strong></span>
		<span id="line-break-icon" onclick="gotoNextToolbar(3, event)">
			<div title="Go to next toolbar menu (alt-n)" class='nav-icon fa fa-superpowers'></div>
		</span>
	</div>

	<!-- Music search toolbar ================================================= -->
	<style>
		input#search-pitch, input#search-interval, input#search-rhythm {
			width: 80px;
			font-size: 15px;
			background: #ddd;
			border-radius: 3px;
			border: 0;
		}
		input[type="text"]::placeholder {  
			text-align: center; 
		} 
		input:focus {
	    outline-width: 0;
		}
	</style>
	<div class="nav-icon-group" id="toolbar-4" style="display:none;">
		<span style="font-style: italic" class="nav-icon">Search</span>
		<span id="search-group">
			<input id="search-pitch"    oninput="doMusicSearch()" type="text" spellcheck="false" placeholder="pitch">
			<input id="search-interval" oninput="doMusicSearch()" type="text" spellcheck="false" placeholder="interval">
			<input id="search-rhythm"   oninput="doMusicSearch()" type="text" spellcheck="false" placeholder="rhythm">
		</span>
		<div title="Search help" onclick="showSearchHelp()" class='nav-icon fas fa-question-circle'></div>
		<span id="line-break-icon" onclick="gotoNextToolbar(4, event)">
			<div title="Go to next toolbar menu (alt-n)" class='nav-icon fa fa-superpowers'></div>
		</span>
	</div>


	<!-- Filtering toolbar ================================================= -->
	<style>
		input#filter {
			width:          270px;
			font-size:      15px;
			background:     #ddd;
			border-radius:  3px;
			border:         0;
		}
		.filter-icon.active {
			color: yellow;
			opacity: 0.9;
		}
		input:focus {
	    outline-width: 0;
		}
	</style>
	<div class="nav-icon-group" id="toolbar-5" style="display:none;">
		<input id="filter"  onkeyup="checkForFilterActivate(event)" oninput="updateFilterState(event)" type="text" spellcheck="false" placeholder="filter">
		<div title="Apply filter" onclick="applyGlobalFilter()" class='filter-icon nav-icon fa fa-filter'></div>
		<div title="Compile filter (alt-c)" onclick="compileGlobalFilter()" class='nav-icon fa fa-plus'></div>
		<div title="About filters" onclick="showFilterHelp()" class='nav-icon fas fa-question-circle'></div>
		<span id="line-break-icon" onclick="gotoNextToolbar(5, event)">
			<div title="Go to next toolbar menu (alt-n)" class='nav-icon fa fa-superpowers'></div>
		</span>
	</div>



</div>

<!-- ==== page navigation ==================================================== -->
<div class="multipage" id="multi-page" style="margin-left:10px; margin-right:40px !important;">
		<table><tr>
		<td onclick="MENU.multiPageView()"> <div title="Click for multi-page mode" style="font-size:150%" class="nav-icon fas fa-map"></div></td>
		</tr></table>
</div>
<div id="page-nav" style="display:none; float:right; padding-left:5px; z-index:10;">
		<style>
			table.multipage td {
				padding-left: 2px !important;
				padding-right: 2px !important;
				opacity: 0.8;
			}
			table.multipage td div:hover,
			tagle.multipage td:hover
			{
				color: white;
				opacity: 0.95 !important;
			}
		</style>
		<table class="multipage"><tr>
		<td onclick="previousPageClick(event)"> <div title="Previous page (shift-click for first page)" style="font-size:150%" class="nav-icon fas fa-arrow-left"></div></td>
    	<td onclick="MENU.singlePageView()">    <div title="Click for single-page mode"    style="font-size:125%" class="nav-icon fas fa-file-alt"></div></td>
    	<td onclick="nextPageClick(event)">     <div title="Next page (shift-click for last page)"     style="font-size:150%" class="nav-icon fas fa-arrow-right"></div></td>
		</tr></table>
</div>

	</div>
</div>


</nav>
</script>
{% endraw %}

<!-- SECOND-LEVEL-MENU-TEMPLATE ------------------------------------------------------- -->

{% raw %}
<script id="second-level-menu-template" type="text/x-handlebars-template">

<span class="menu-name nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{{languageText TEXT}}}
</span>

<ul class="dropdown-menu">

	{{{printObject "INPUT TO SUBMENU" this}}}


	{{#if SUBMENU}}
		{{#ifArray SUBMENU.ENTRY}}
			{{#each SUBMENU.ENTRY}}
				{{{printMenuItem this}}}
			{{/each}}
		{{/ifArray}}
	{{/if}}
</ul>

</script>
{% endraw %}

<!-- MENU-ITEM-TEMPLATE ------------------------------------------------------- -->

{% raw %}
<script id="menu-item-template" type="text/x-handlebars-template">

	<li>
		<table class="menu">
			<tr>
				<td>

{{{printObject "PRINTING A MENU ITEM" this}}}
					{{#if TEXT}}
						{{#if SUBMENU}}
							<a class=" dropdown-item dropdown-toggle " href="#"
						{{else}}
							<span class="menu-item"
						{{/if}}
						{{#if TEXT.ACTION}} onclick="{{{TEXT.ACTION}}}"
						{{else}}
							{{#if TEXT.LINK }}
								onclick="MENU.openUrl('{{{languageText TEXT.LINK}}}', 'doc')"
							{{/if}}
						{{/if}}>
						{{{languageText TEXT}}}
						{{#if SUBMENU}}
							</a>
						{{else}}
							</span>
						{{/if}}
					{{/if}}
				</td>
				{{#each RIGHT_TEXT}}

					{{#ifEquals TYPE "shortcut"}}
					<td class="shortcut-cell"">
						<span class="shortcut">
							{{#if LINK}}
								<a target="_blank" href="{{{languageText LINK}}}">
							{{/if}}
							{{{languageText this}}}
							{{#if LINK}}
								</a>
							{{/if}}
						</span>
					</td>
					{{/ifEquals}}

					{{#ifEquals TYPE "link"}}
					<td class="shortcut-cell"">
						<span class="documentation">
							{{#if LINK}}
								<a target="_blank" class="menu-link" href="{{{languageText LINK}}}">
							{{/if}}
							{{{languageText this}}}
							{{#if LINK}}
								</a>
							{{/if}}
						</span>
					</td>
					{{/ifEquals}}

					{{#ifEquals TYPE "filter"}}
					<td class="shortcut-cell"">
						<span class="filter">
							{{#if LINK}}
								<a target="_blank" href="{{{languageText LINK}}}">
							{{/if}}
							{{{languageText this}}}
							{{#if LINK}}
								</a>
							{{/if}}
						</span>
					</td>
					{{/ifEquals}}

					{{#ifEquals TYPE "github"}}
						<td class="gh-cell"">
							<span class="gh">
								{{#if LINK}}
									<a target="_blank" href="{{{languageText LINK}}}">
								{{/if}}
								<i title="Github repository" class="fas fa-cloud"></i>
								{{#if LINK}}
									</a>
								{{/if}}
							</span>
						</td>
					{{/ifEquals}}

					{{#ifEquals TYPE "website"}}
						<td class="gh-cell"">
							<span class="web">
								{{#if LINK}}
									<a target="_blank" href="{{{languageText LINK}}}">
								{{/if}}
								<i title="View reperotry website" class="fas fa-desktop"></i>
								{{#if LINK}}
									</a>
								{{/if}}
							</span>
						</td>
					{{/ifEquals}}

				{{/each}}

			</tr>
		</table>

		{{#SUBMENU}}
			<ul class="dropdown-menu">
				{{{printMenuItem this}}}
			</ul>
		{{/SUBMENU}}

	</li>

</script>
{% endraw %}

<script>
//
// Handlebars helper functions
//

//////////////////////////////
//
// printMainMenuEntry Handlebars helper  -- 
//

Handlebars.registerHelper("printMainMenuEntry", function(entry) {
	var output = "";
	output += '<li class="nav-item dropdown';
	if (entry.TYPE && entry.TYPE.match(/contextual/)) {
		output += ' contextual';
	}
	output += '">\n';

	var tsource = document.querySelector("#second-level-menu-template").textContent;
	var menuTemplate = Handlebars.compile(tsource);
	output += menuTemplate(entry);

	output += "</li>\n";
	return new Handlebars.SafeString(output);
});



//////////////////////////////
//
// printMenuItem Handlebars helper  -- 
//

Handlebars.registerHelper("printMenuItem", function(entry) {
	var output = "";
	if (entry.ENTRY) {
		if (Array.isArray(entry.ENTRY)) {
			var listing = entry.ENTRY;
			for (var i=0; i<listing.length; i++) {
				output += generateMenuItem(listing[i]);
			}
		} else {
			output = generateMenuItem(entry.ENTRY);
		}
	} else {
		output = generateMenuItem(entry);
	}
	return new Handlebars.SafeString(output);
});


function generateMenuItem(entry) {
	var tsource = document.querySelector("#menu-item-template").textContent;
	var menuTemplate = Handlebars.compile(tsource);
	return menuTemplate(entry);
}





//////////////////////////////
//
// languageText Handlebars helper  -- 
//

Handlebars.registerHelper("languageText", function(text) {
	var output;
	if (typeof text === "string") {
		return new Handlebars.SafeString(text);
	} else if (text && text.DEFAULT) {
		var language = LANGUAGE;
		if (text.FORCE) {
			language = text.FORCE;
		}
		if (!language) {
			language = "DEFAULT";
		}
		var translation = text[language];
		if (!translation) {
			var entry = DICTIONARY[text["DEFAULT"]];
			if (entry) {
				var newtrans = entry[language];
				if (!newtrans) {
					translation = text["DEFAULT"];
				} else {
					translation = newtrans;
				}
			} else {
				translation = text["DEFAULT"];
			}
		}
		return new Handlebars.SafeString(translation);
	}

	return new Handlebars.SafeString("ERROR");
});



//////////////////////////////
//
// ifEquals Handlebars helper --
//

Handlebars.registerHelper('ifEquals', function(arg1, arg2, options) {
    return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
});



//////////////////////////////
//
// ifArray Handlebars helper --
//

Handlebars.registerHelper('ifArray', function(object, options) {
    return (Array.isArray(object)) ? options.fn(this) : options.inverse(this);
});




//////////////////////////////
//
// arrayify Handlebars helper --
//

Handlebars.registerHelper('arrayify', function(value)  {
	if (Array.isArray(value)) {
		return value;
	} else {
		return [vaule];
	}
});



//////////////////////////////
//
// printObject
//

Handlebars.registerHelper('printObject', function(message, object)  {
	return new Handlebars.SafeString("");
	console.log("MESSAGE:", message, "OBJECT:", object);
});

</script>




</script>



