<!-- this menu system requires including bootstrap:
vim: ts=2

<script src="/scripts/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css" />

-->

<style>
	{% include navigator/menu.css %}
</style>

<script>
	{% include navigator/menu.js %}
</script>

<div role="navigation">
	<div id="primary-nav">
		<ul style="margin-top:-15px; padding:0;" class="nav navbar-nav" aria-label="primary navigation">

			<li id="nav-1">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
				<ul class="dropdown-menu">

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="clearEditorContents()">Clear text editor</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-e">alt-e</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="saveTextEditorContents()">Save editor contents</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-s">alt-s</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="createPdf()">Create PDF</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-t">alt-T</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="createPdfPage()">Create PDF of current view</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-t">alt-t</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

				</ul>
			</li>

			<li id="nav-2">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit<b class="caret"></b></a>
				<ul class="dropdown-menu">

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="compileEmbeddedFilters()">Compile embedded filters</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-c">alt-c</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="insertLocalCommentLine()">Insert local comment line</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-L">alt-L</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="insertInterpretationLine()">Insert interpretation line</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-I">alt-I</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="insertNullDataLine()">Insert null data line</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-D">alt-D</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="applyFilter('autostem')">Add note stems</span>
								</td>
								<td class="shortcut-cell"">
									<span class="filter">
										<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autostem">autostem</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="applyFilter('autostem -r')">Remove notes stems</span>
								</td>
								<td class="shortcut-cell"">
									<span class="filter">
										<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autostem">autostem -r</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="applyFilter('extract -Itext')">Remove lyric text</span>
								</td>
								<td class="shortcut-cell"">
									<span class="filter">
										<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autostem">extract -Itext</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="applyFilter('autobeam')">Beam by meter</span>
								</td>
								<td class="shortcut-cell"">
									<span class="filter">
										<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autobeam">autobeam</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="applyFilter('autobeam -r')">Remove beams</span>
								</td>
								<td class="shortcut-cell"">
									<span class="filter">
										<a target="_blank" href="https://doc.verovio.humdrum.org/filter/autobeam">autobeam -r</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

				</ul>
			</li>

			<li id="nav-3">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">View<b class="caret"></b></a>
				<ul class="dropdown-menu">

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="toggleDataDisplay()">Toggle text display</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-y">alt-y</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="toggleLayerHighlighting()">Toggle layer highlighting</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-l">alt-l</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="increaseNotationSpacing()">Increase notation spacing</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-w">alt-w</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="decreaseNotationSpacing()">Decrease notation spacing</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-w">alt-W</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li><div class="menu-item" onclick="fitTabSizeToData()">Auto tab width &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="increaseTabSize()">Increase tab width</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-greater">alt-&gt;</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="decreaseTabSize()">Decrease tab width</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-lesser">alt-&lt;</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li><div class="menu-item" onclick="applyFilter('tabber')">Add spacing tabs</div></li>

					<li><div class="menu-item" onclick="applyFilter('tabber -r')">Remove spacing tabs</div></li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="showSourceScan()">Show source scan (when avail.)</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-p">alt-p</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="toggleLogoDisplay()">Toggle VHV logo</span>
								</td>
								<td class="shortcut-cell"">
									<span class="shortcut">
										<a target="_blank" href="https://doc.verovio.humdrum.org/commands/alt-b">alt-b</a>
									</span>
								</td>
							</tr>
						</table>
					</li>



				</ul>
			</li>

			<li id="nav-4">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><div class="menu-item" onclick="applyFilter('dissonant --color2')">Dissonance labels</div></li>
				</ul>
			</li>

			<li id="nav-5">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Scores<b class="caret"></b></a>
				<ul class="dropdown-menu">

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('chorales')">Bach 370 chorales</span>
								</td>
								<td class="gh-cell"">
									<span class="web">
										<a target="_blank" href="https://chorales.sapp.org">website</a>
									</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/craigsapp/bach-370-chorales">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span style="float:right;">
										<span class="menu-item" onclick="loadRepertory('chorales', 'satb2gs')">
											<i>on grand-staff</i>
										</span>
										<span class="menu-item" onclick="loadRepertory('chorales', 'trasnpose -k c | satb2gs')">
											<i>transposed to C</i>
										</span>
									</span>
								</td>
								<td class="gh-cell"">
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('beethoven/sonatas')">Beethoven piano sonatas</span>
								</td>
								<td class="gh-cell"">
									<span class="gh">
										<a target="_blank" href="https://github.com/craigsapp/beethoven-piano-sonatas">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('beethoven/quartets')">Beethoven string quartets</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/craigsapp/beethoven-string-quartets">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('chopin/mazurkas')">Chopin mazurkas</span>
								</td>
								<td class="gh-cell">
									<span class="gh">	
										<a target="_blank" href="https://github.com/craigsapp/chopin-mazurkas">GH</a>
									</span>	
								</td>	
							</tr>	
						</table>	
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('hummel/preludes')">Hummel preludes, op. 67</span>
								</td>
								<td class="gh-cell">
									<span class="gh">	
										<a target="_blank" href="https://github.com/craigsapp/hummel-preludes">GH</a>
									</span>	
								</td>	
							</tr>	
						</table>	
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('joplin')">Joplin</span>
								</td>
								<td class="gh-cell">
									<span class="gh">	
										<a target="_blank" href="https://github.com/craigsapp/joplin-rags">GH</a>
									</span>
								</td>
							</tr>	
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('mozart/sonatas')">Mozart piano sonatas</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/craigsapp/mozart-piano-sonatas">GH</a>
									</span>
								</td>	
							</tr>
						</table>
					</li>

					<li style="margin-top:8px; margin-bottom:8px;">
						<div style="padding-left: 16px;" class="menu-heading">Collections</div>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('liederschatz')">Deutscher Liederschatz</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/craigsapp/liederschatz">GH</a>
									</span>
								</td>	
							</tr>
						</table>
					</li>

					<li>
						<div class="menu-heading">
							<a target="_blank" href="http://www.tassomusic.org">Tasso in Music Project</a>
						</div>	
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('tmp')">Rime settings (1570&ndash;1640)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/TassoInMusicProject/tasso-scores/tree/master/Trm/kern">GH</a>
									</span>
								</td>
							</tr>	
						</table>
					</li>

					<li>
						<div class="menu-heading">
							<a target="_blank" href="http://josquin.stanford.edu">Josquin Research Project</a>
						</div>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Duf')">Guillaume Du Fay(<i>c</i>1397&ndash;1474)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Duf">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Ock')">Johannes Ockeghem (<i>c</i>1420&ndash;1497)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Ock">GH</a>
									</span>
								</td>	
							</tr>	
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Jap')">Jean Japart (?&ndash;1481)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Jap">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Bus')">Antoine Busnoys(<i>c</i>1430&ndash;1492)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Bus">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Jos')">Josquin des Prez (<i>c</i>1450&ndash;1521)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Jos">GH</a>
									</span>	
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Rue')">Pierre de la Rue (1452&ndash;1518)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Ock">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Obr')">Jacob Obrecht (1457&ndash;1505)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Obr">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

					<li>
						<table class="menu">
							<tr>
								<td>
									<span class="menu-item" onclick="loadRepertory('jrp/Ort')">Mabrianus de Orto (<i>c</i>1460&ndash;1529)</span>
								</td>
								<td class="gh-cell">
									<span class="gh">
										<a target="_blank" href="https://github.com/josquin-research-project/Ort">GH</a>
									</span>
								</td>
							</tr>
						</table>
					</li>

				</ul>
			</li>

			<li id="nav-6">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
				<ul class="dropdown-menu">

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org', 'doc')">Documentation</div></li>

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org/interface/getting_started', 'doc')">Getting started</div></li>

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org/humdrum/getting_started', 'doc')">Encoding tutorial</div></li>

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org/repertory', 'doc')">Online repertories</div></li>

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org/filters', 'doc')">Filters &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></li>

					<li><div class="menu-item" onclick="openUrl('https://doc.verovio.humdrum.org/options', 'doc')">Embedded formatting options</div></li>

				</ul>
			</li>

<!--
single-entry example:
			<li id="nav-3"> <a href="/performers">Performers</a> </li>
-->

		</ul>
	</div>
</div>


