
#midiPlayer_div  {
	height:     36px;
	background: #999;
	opacity:    0.70;
}

#midiPlayer_bar  {
	height:            12px;
	width:             250px;
	background:        #ccc;
	cursor:            pointer;
	display:           inline-block;
}

#midiPlayer_progress {
	background:        #555;
	margin:            0;
	width:             0;
	height:            100%;
}

#midiPlayer_playingTime {
	width:             45px;
	margin:            8px;
	font-size:         16px;
	text-align:        right;
	font-family:       arial;
	display:           inline-block;
}

#midiPlayer_totalTime {
	width:             40px;
	text-align:        right;
	margin:            4px;
	font-size:         16px;
	font-family:       arial;
	display:           inline-block;
}

#midiPlayer_div a.icon {
	cursor:            pointer;
	vertical-align:    center;
}

#midiPlayer_div a.icon: hover {
	color: green !important;

}

#midiPlayer_div a.play : hover {
	color: hotpink !important;
}


