
body.waiting * {
	cursor: progress;
}


body {
	background: #fffcf1;
	margin: 0;
	padding 0;
	overflow: scroll;
}


g[id^="note-"]:hover,
g[id^="rest-"]:hover {
	  fill: orange; 
}


table.index-list {
	padding-left: 40px;
	margin-left: 40px;
	padding-top: 40px;
	margin-top: 40px;
	margin-bottom: 100px;
}


.indenter {
	margin-left: 50px;
}


.index-list td {
	font-family: Palatino;
	font-size: 18pt;
}


.ilink {
	cursor: pointer;
	color: 333388;
}


svg:not(:root) {
	overflow: inherit; 
}


#header-table td:first-child {
	padding-left 10px;
}


#header-table td {
	height: 44px;
	padding-top: 2px;
	padding-right: 15px;
}


#vhv {
	color:          #888; 
	font-size:      110%;
	letter-spacing: -1px;
	margin-top: 	11px;
	white-space:    nowrap;
	word-spacing:   -3px;
}


html {
	font-size: 12pt;
}


.viewer tr {
	vertical-align: top;
}


.viewer tr td:first-child {
	padding-top: 10px;
	padding-left: 5px;
}


div#dropArea {
	background: gray;
	position:   fixed;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	z-index:    999;
	opacity:    0.6;
	visibility: hidden;
}


#title-info {
	width:       100%;
	color:       #f8f5f0;
	font-family: Palatino, Times-Roman, serif;
	position:    relative;
	font-size:   130%;
	top:         2px;
	padding:     0;
	margin:      0;
	white-space: nowrap;
}


#composer {
	letter-spacing: -0.5px;
}


#topnav {
	z-index: 10;
}


.topnav {
	z-index: 10;
	position:relative;
	font-size: 17px;
	background-color: #556;
	color: #f1f1f1;
	width:100%;
	padding:0;
	letter-spacing:1px;
}


.topnav a{
	padding:10px 15px 9px 15px !important;
	display:inline-block;
}


.topnav a:hover{
	background-color:#000000;
	color:#ffffff;
}


.topnav a.active {
	background-color:#73AD21;
	background-color:#4CAF50;  
	color:#ffffff;
}


a.topnav-icons {
	width:52px;
	font-size:20px !important;
	padding-top:11px !important;
	padding-bottom:13px !important;
}


a.topnav-icons.fa-home {
	font-size:22px !important;
}


a.topnav-localicons {
	font-size:20px !important;
	padding-top:6px !important;
	padding-bottom:12px !important;
}


/* For index headings */
font b {
	font-size: 22pt;
}


div#input { 
	position: fixed;
	top: 44px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
}


div#splitter {
	position: fixed;
	top: 44px;
	left: 400px;
	background: #fffcf1;
	width: 4px;
	height: 100%;
	border-left: 1px solid #ddd8d0;
	cursor: ew-resize;
}
		

div#index { 
	position: relative;
	visibility: hidden;
	display: none;
	top: 44;
	left: 0;
	width:100%;
	overflow: scroll;
	background: #f8f8f8;
}

div#output { 
	position: fixed;
	top: 44;
	left: 415;
	right: 0;
	bottom: 0;
	background: #fffcf1;
}


textarea#input {
	font-size: 1rem;
	width: 150px;
	height: 300px;
	min-width: 0;
	min-height: 0;
	background: #f3f3f3;
	margin-right: 10px;
}


textarea#input {
	-moz-tab-size: 30;
	-o-tab-size: 30;
	tab-size: 30;
	white-space: pre;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: scroll;
	overflow: -moz-scrollbars-vertical;
}


