



body.waiting * {
	cursor: progress;
}

body {
	/* prevent accidentally leaving page in chrome */
	overscroll-behavior-x: none;
}

body {
	background: #fffcf1;
	margin: 0;
	padding: 0;
	/* overflow: scroll; */
	overflow: scroll;
	z-index: 1 !important;
}

/* needed to see scroll bar in help menu */
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

g[id^="clef-"]:hover,
g[id^="ksig-"]:hover,
g[id^="msig-"]:hover,
g[id^="note-"]:hover,
g[id^="hairpin-"]:hover,
g[id^="accid-"]:hover,
g[id^="trill-"]:hover,
g[id^="artic-"]:hover,
g[id^="slur-"]:hover,
g[id^="tie-"]:hover,
g[id^="slur-"]:hover,
g[id^="fermata-"]:hover,
g[id^="rest-"]:hover {
	fill: orange;
	filter: url(#hover-shadow);
}

/* Highlight barlines:
g[id^="bline-"] path:hover
{
	stroke: orange;
}
*/


table.index-list {
	padding-left: 40px;
	margin-left: 40px;
	padding-top: 40px;
	margin-top: 40px;
	margin-bottom: 100px;
}


.indenter {
	margin-left: 50px;
}


.index-list td {
	font-family: Palatino;
	font-size: 18pt;
}


td.igroup {
	color: #333333;
	font-size: 2.0rem;
}

.ilink {
	cursor: pointer;
	color: #333388;
}

.ilink:hover {
	cursor: pointer;
	color: #883333;
}

svg:not(:root) {
	overflow: inherit;
}


#header-table {
	margin-top: -5px; /* needed to avoid obscuring letters in title such as g, y, and j. */
}

#header-table td:first-child {
	padding-left: 10px;
}


#header-table td {
	height: 44px;
	padding-top: 2px;
	margin-top: -5px;
	padding-right: 15px;
}

#work-navigator, #title-info {
	padding-bottom: 5px;
	display: inline-block;
	white-space: nowrap;
}

#title-info {
	width:       100%;
	color:       #f8f5f0;
	font-family: Palatino, Times-Roman, serif;
	font-size:   132%;
	margin-top: -30px !important;
	white-space: nowrap;
}


#vhv {
	color:               #888;
	font-size:           110%;
	margin-top: 	     2px;
	white-space:         nowrap;
	word-spacing:        -3px;
	letter-spacing:      -1px;
	-moz-user-select:    none;
	-webkit-user-select: none;
	-ms-user-select:     none;
	user-select:         none;
}


html {
	font-size: 12pt;
}


.viewer tr {
	vertical-align: top;
}


.viewer tr td:first-child {
	padding-top: 10px;
	padding-left: 5px;
}


div#dropArea {
	background: gray;
	position:   fixed;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	z-index:    999;
	opacity:    0.6;
	visibility: hidden;
}



#composer {
	letter-spacing: -0.5px;
}


#topnav {
	z-index: 20;
	position: relative;
}


.topnav {
	z-index: 20;
	position: relative;
	font-size: 17px;
	background-color: #01313f;
	color: #30edf7;
	width:100%;
	padding:0;
	/* letter-spacing:1px; */
}


.topnav > a{
	padding:10px 15px 9px 15px !important;
	display:inline-block;
}


.topnav a:hover{
	background-color:#000000;
	color:#ffffff;
}


.topnav a.active {
	background-color:#73AD21;
	background-color:#4CAF50;
	color:#ffffff;
}


a.topnav-icons {
	width:52px;
	font-size:20px !important;
	padding-top:11px !important;
	padding-bottom:13px !important;
}


a.topnav-icons.fa-home {
	font-size:22px !important;
}


a.topnav-localicons {
	font-size:20px !important;
	padding-top:6px !important;
	padding-bottom:12px !important;
}


/* For index headings */
font b {
	font-size: 22pt;
}


div#input {
	z-index: 10;
	position: fixed;
	top: 44px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
}

.marked {
	background: red;
	color: red;
	position: absolute;
}

div#splitter {
	position: fixed;
	top: 65px;
	left: 400px;
	background: #fffcf1;
	width: 4px;
	height: 100%;
	border-left: 1px solid #ddd8d0;
	cursor: ew-resize;
	user-select: none;
	-moz-user-select:    none;
	-webkit-user-select:    none;
	-ms-user-select:    none;
	/* this needs to be high enough to click on */
	z-index: 2;
}


div#index {
	position: relative;
	visibility: hidden;
	color: #888;
	display: none;
	top: 44;
	left: 0;
	width:100%;
	overflow: scroll;
	background: #f8f8f8;
	z-index: 300;
}

#output {
	position: fixed;
	top: 64px;
	left: 415px;
	right: 0;
	bottom: 0;
	background: #fffcf1;
	z-index: 2;
}

#output {
	overflow-y: scroll !important;
	scroll-behavior: smooth;
}

#input {
	font-size: 1rem;
	width: 400px;
	min-width: 0;
	min-height: 0;
	margin-right: 10px;
}


textarea#input {
	-moz-tab-size: 15;
	-ms-tab-size: 15;
	-o-tab-size: 15;
	tab-size: 15;
	white-space: pre;
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: scroll;
	/* overflow: -moz-scrollbars-vertical; */
}

/* Menu stylings */


#help-container {
	-moz-box-shadow:    -1px -1px 25px #888;
	-ms-box-shadow:    -1px -1px 25px #888;
	-webkit-box-shadow: -1px -1px 25px #888;
	box-shadow:         -1px -1px 25px #888;

	border-radius: 11px;
	position:fixed;
	bottom:0%;
	right:0%;
	background:#e9e0e0;
	margin-bottom:5px;
	width:400px;
	opacity:0.95;
	padding:30px;
	max-height: 90%;
	overflow: scroll;
	z-index: 2000;
}

#help-container a {
	text-decoration: none;
	color:       #d8ab5c;
}

#search-help {
   margin-right: 31px;
   margin-top:   6.5px;
   height: 30px;
}

table#help-table td {
	text-align: left;
	vertical-align:top;
}

table#help-table tr {
	vertical-align:top;
}

table#help-table td:first-child {
	padding-right:20px;
}

span.info {
	z-index: 3;
	display: inline;
	text-indent: -19999px;
	width: 24px;
	height: 14px;
	background: url(/images/info.png) no-repeat 0 0;
	float: right;
	cursor: pointer;
	margin-top: -6px;
	margin-right: 17px;
	padding-left: 20px;
}


.highlight {
	color: #c00;
	fill: #c00;
	stroke: #c00;
	filter: url(#highlight-shadow);
}
.highlight [stroke] {
	stroke: #c00;
	stroke-width: 50px;
}


a.doclink {
	color: #cc5500 !important;
}

span.helpentry {
	color: #d8ab5c;
	cursor:pointer;
}

@font-face {
	font-family: "Times";
	src: url("../scripts/pdfkit/EBGaramond-Regular.ttf");
	font-style: normal;
	font-weight: normal
}

@font-face {
	font-family: "Times";
	src: url("../scripts/pdfkit/EBGaramond-Italic.ttf");
	font-style: italic;
	font-weight: normal
}

@font-face {
	font-family: "Times";
	src: url("../scripts/pdfkit/EBGaramond-Bold.ttf");
	font-style: normal;
	font-weight: bold
}

@font-face {
	font-family: "Times";
	src: url("../scripts/pdfkit/EBGaramond-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold
}

/* Analytic phrase markers */

.phraseStart {
/*
	color: green;
	fill: green;
	stroke: green;
*/
}
.phraseStart [stroke] {
/*
	stroke: green;
*/
}

.phraseStop {
/*
	color: blue;
	fill: blue;
	stroke: blue;
*/
}
.phraseStop [stroke] {
/*
	stroke: blue;
*/
}

.phraseStart.phraseStop {
/*
	color: orange;
	fill: orange;
	stroke: orange;
*/
}
.phraseStart.phraseStop [stroke] {
/*
	stroke: orange;
*/
}

.ace_gutter, .ace-scroller {
	z-index: 100;
}

.ace_dialog, .ace_dialog_bottom {
	z-index: 200 !important;
}


svg {
	z-index: 3;
}

.ace_tooltip {
	z-index: 400 !important;
}

body.frozen #output, body.frozen #splitter, body.frozen {
	background: #ffffff
}

body.invalid #output, body.invalid #splitter, body.invalid {
	background: #ffe0e0
}

span.ilink {
	color: #01313f;
}

.mbutton {
	margin-right: 10px;
	margin-left: 10px;
}

.mbutton:hover {
	background: #999 !important;
	stroke: yellow;
}

.mbutton span.fas:hover {
	color: white;
}

.fas-play :hover {
	color: white !important;
}

.nav-play-button {
	position: fixed;
	top:0;
	right: 45px;
	float: left;
	color: white;
	opacity: 0.6;
	background: #01313f;
	margin-top: 2px;
}


.nav-icon {
	background: transparent;
/*	opacity: 0.6; */
	color: white;
	margin-right: 8px;
	white-space: nospace;
}

.nav-icon table td {
	cursor: pointer;
}

.nav-icon table td:nth-child(2) {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-icon td: hover {
	color: white;
}

#work-navigator {
	opacity: 0.6;
	color: white;
}

#work-navigator span:hover {
	color: white;
}

div#index {
	width: 80%;
	min-width: 600px;
	left-margin: auto;
	right-margin: auto;
	background: cornsilk;
	opacity: 0.95;
	border: 1px solid #000;
	z-index: 9999;
	padding-top: 20px;
	margin-top: -20px;
	padding-left: 50px;
	padding-right: 50px;
	overflow: scroll;
}

#output svg g.dir.problem tspan.rend tspan.text tspan.text.p {
  font-family: "FontAwesome";
}

#output svg g.dir.sic tspan.rend tspan.text tspan.text.s {
  font-family: "FontAwesome";
}

#output svg g.dir.sic tspan.rend tspan.text tspan.text.s {
  font-family: "FontAwesome";
}


#navbarNavDropdown {
	white-space: nowrap;
}

button.navbar-toggler {
	font-size: 13px;
	margin-top: -16px;
}

span.navbar-toggler-icon.collapsed {
	font-size: 15px;
}


.nav-link {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

span.dropdown-toggle {
	margin-left: 15px;
}





