

<div id="play-button" class="nav-play-button" style="cursor: pointer; display: inline-block;" title="Play music (space bar)" onclick="playCurrentMidi();">
	<span class="fas fa-play"></span>
</div>

<div id="player">
	<div id='midiPlayer_div'>
		<div id='midiPlayer_playingTime'>0:00</div>
		<div id='midiPlayer_bar'>
			<div id='midiPlayer_progress'></div>
		</div>
		<div id='midiPlayer_totalTime'>0:00</div>
		<a class='mbutton icon play' id='midiPlayer_play' onclick='play()'><span class='fas fa-play'></span></a>
		<a class='mbutton icon pause' id='midiPlayer_pause' onclick='pause()'><span class='fas fa-pause'></span></a>
		<a class='mbutton icon stop' id='midiPlayer_stop' onclick='stop()'><span class='fas fa-stop'></span></a>
	</div>
</div>
