

<span id="work-navigator">
	<span title="previous work/movement (⇧+←)" style="cursor: pointer;" onclick="displayWork('...');">
		<span class="nav-icon fas fa-arrow-circle-left"></span>
	</span>
	<span title="repertory index (⇧+↑)" style="cursor: pointer;" onclick="displayIndex('...');">
		<span class="nav-icon fas fa-arrow-circle-up"></span>
	</span>
	<span title="next work/movement (⇧+→)" style="cursor: pointer;" onclick="displayWork('...');">
		<span class="nav-icon fas fa-arrow-circle-right"></span>
	</span>
	<span title="Keyscape" style="padding-left: 3px; cursor: pointer;" onclick="displayKeyscape(event);">
		<span class="nav-icon fa fa-key"></span>
	</span>
	<span title="copy link for work" style="padding-left: 3px; cursor: pointer;" onclick="copyRepertoryUrl('...')">
		<span class="nav-icon fas fa-link"></span>
	</span>
</span>
